
@{
    ViewBag.Title = "African Energy Forum | Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/images/mediapartners/africanenergybg.jpg";
    ViewBag.PageDescription = "The Africa Energy Forum (aef) is the global investment conference & exhibition for Africa’s energy, infrastructure & industrial sectors. aef 2020 arrives in Amsterdam, the Netherlands from 20-22 October 2020.";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.webEdition = ViewBag.region;
    ViewBag.PostUrl = "https://www.devdiscourse.com/AfricanEnergyForum";
    ViewBag.pageKeywords = "Afrcian Enrgy Forum, 20 Oct. - 22 Oct. 2020 Amsterdam , Energy in one place.";
}
<style>
    .renderBody {
        margin-top: 0px;
    }

    .gard {
        background-color: #2e2e2e;
        background-image: url(/images/mediapartners/africanenergybg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center top;
        padding-top: 80px;
        padding-bottom: 60px;
        color: #fff;
    }

    .font-sans-serif {
        font-family: sans-serif;
    }

    .ev-date {
        background-color: #fff;
        color: #222;
        padding: 3px 10px;
        display: inline-block;
    }

    .why-abu {
        color: #39A8DF;
        font-size: 28px;
        font-weight: 500;
    }

    .fg-theme {
        color: #e45914;
    }

    .btncss {
        color: #fff;
        background-color: #23A8E0;
        font-size: 18px;
        font-weight: 500;
        border: 0;
        border-radius: 0px;
        padding: 10px 45px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    }

        .btncss:hover {
            color: #fff;
            background-color: #2A3053;
        }

    .news-container {
        background-color: #e45914;
        margin-top: 30px;
        padding-bottom: 30px;
        color: #fff;
    }

    .mid-container {
        background-color: #0C2235;
        color: #fff;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.34);
    }

    .bg-white.p-t-20 {
        padding: 0;
    }

    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-family: 'Oswald',sans-serif
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .eventcard-title {
        height: 90px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }

    .f-40 {
        font-size: 56px;
        font-weight: 600;
    }

    .f-30 {
        font-size: 30px;
        font-weight: 500;
    }

    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }

        .banner-content-container {
            padding: 70px 50px;
        }

        .text-five {
            font-size: 200px;
        }

        .text-go-green {
            font-size: 43px;
        }

        .remedies {
            font-size: 18px;
        }
    }


    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }
    }

    @@media screen and (max-width:768px) {


        .media-partner {
            text-align: center;
        }

        .logo-container {
            text-align: center;
        }

        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }

        .f-40 {
            font-size: 36px;
        }

        .f-20 {
            font-size: 18px;
        }

        .gard {
            padding: 0;
        }
    }

    @@media screen and (max-width:425px) {
        .banner-content-container {
            padding: 40px 20px;
        }

        .text-five {
            font-size: 160px;
            margin-top: 20px;
            text-align: center;
        }

        .text-go-green {
            font-size: 25px;
            text-align: center;
        }

        .text-slogan {
            font-size: 18px;
            text-align: center;
        }

        .remedies {
            font-size: 16px;
            text-align: center;
        }

        .why-abu {
            margin-top: 30px;
        }

        .gard .media-left, .gard .media-body {
            display: block;
            width: 100%;
        }

        .gard .media-left {
            padding-bottom: 20px;
        }

        .f-40 {
            font-size: 30px;
        }

        .f-20 {
            font-size: 16px;
        }

        .btncss {
            font-size: 12px;
        }
    }
</style>

<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Event",
    "name": "African Energy Forum",
    "startDate": "2020-10-20 00:00:00.000",
    "endDate": "2020-10-22 00:00:00.000",
    "location": {
    "@@type": "Place",
    "name": "The African Energy Forum",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "Amsterdam, Netherlands",
    "addressLocality": "Amsterdam, Netherlands",
    "postalCode": "",
    "addressRegion": "Amsterdam",
    "addressCountry": "Netherlands"
    }
    },
    "image": [
    "https://www.devdiscourse.com/images/mediapartners/africaenergybg.jpg"
    ],
    "description": "The Africa Energy Forum (aef) is the global investment conference & exhibition for Africa’s energy, infrastructure & industrial sectors. aef 2020 arrives in Amsterdam, the Netherlands from 20-22 October 2020.",
    "offers": {
    "@@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "http://go.pardot.com/l/339321/2019-10-01/9vtpb",
    "validFrom": "2020-06-30 00:00:00.000"
    }
    }
</script>


<div class="gard" >
    <div class="container font-sans-serif p-t-50 p-b-20">

        <div>
            <p class="f-20">Devdiscourse is proud media partner of </p>
            <h1 class="f-40">AFRICAN ENERGY FORUM</h1>
            <p class="f-30">
            <p>20 OCTOBER - 22 OCTOBER 2020, AMSTERDAM</p>
            </p>
            <div class="p-t-20 m-t-50 m-b-30">
                <a href="http://go.pardot.com/l/339321/2019-10-01/9vtpb" target="_blank" class="btn btn-default btn-lg btncss">Click here to Register</a>
            </div>

        </div>

    </div>
</div>

<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">

            <div class="item">
                <a href="https://www.africa-energy-forum.com/" target="_blank" class="linkBtn" title="Home">HOME</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/agenda-glance" target="_blank" class="linkBtn" title="Programme">PROGRAMME</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/companies" target="_blank" class="linkBtn" title="Sponsors">SPONSORS</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/www.lgc-expo.com/ponentes" target="_blank" class="linkBtn" title="Speakers">SPEAKERS</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/location-0" target="_blank" class="linkBtn" title="Location">LOCATION</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/partners" target="_blank" class="linkBtn" title="Partners">PARTNERS</a>
            </div>
            <div class="item">
                <a href="https://www.africa-energy-forum.com/contact" target="_blank" class="linkBtn" title="Contact">CONTACT</a>
            </div>

        </nav>
    </div>
</div>

}

<div class="container m-t-30">
    <div class="row m-t-20 m-b-20">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="~/images/mediapartners/AEF_Logo.jpg" class="img-responsive" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="why-abu font-sans-serif text-uppercase ">
                <b> Why Attend ?</b>
            </div>
            <div class="content text-muted font-sans-serif f-16">
                <p class="m-t-20">
                    The Africa Energy Forum (aef) is the global investment conference & exhibition for Africa’s energy, infrastructure & industrial sectors. aef 2020 arrives in Amsterdam, the Netherlands from 20-22 October 2020.
                </p>
            </div>
        </div>
    </div>
</div>
@*<div class="news-container">
        <div class="p-t-30 container content-container">
            <h2 class="font-sans-serif">EVENT NEWS</h2>
            <div>
                <div id="moreEventNews">
                    @{ Html.RenderAction("EventNews", "Events", new { id = "2", skip = 0, take = 5 });}
                </div>
                <div class="text-center loadmore f-16" style="display:none;"><span class="fa fa-circle-o-notch fa-spin fa-fw"></span>Loading</div>
            </div>
        </div>
    </div>*@
@section scripts{
    <script>
        $(document).ready(function () {
            var _skip = 0;
            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?id=1&skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}