@{
    ViewBag.Title = "Big Five Board Awards 2019 | Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/images/mediapartners/bigfive_cover.jpg";
    ViewBag.PageDescription = "Devdiscourse is proud media partner of Big Five Board Awards 2019 - Thursday, November 21, 2019 6:00 PM  11:30 PM, The Geological Society Burlington House, Piccadilly London, England, W1J 0BD United Kingdom";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.webEdition = ViewBag.region;
    ViewBag.PostUrl = "https://www.devdiscourse.com/events/big-five-board-awards";
    ViewBag.pageKeywords = "Big Five Board Awards 2019, Big Five Board Awards, Five Board Awards";
}
<style>
    .renderBody {
        margin-top: 0px;
    }

    .gard {
        background-color: #393a3c;
        padding-top: 40px;
        padding-bottom: 60px;
        background-image: url('/images/mediapartners/bigfive_bg.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;
    }

    .font-sans-serif {
        font-family: sans-serif;
    }
    .why-abu {
        color: #0c0809;
        font-size: 28px;
        font-weight: 500;
    }
    .btncss {
        background-color: #fff;
        color: #0c0809;
        font-size: 24px;
        font-weight: 500;
        border: 0;
        border-radius: 0;
        padding: 10px 45px;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.14);
    }

        .btncss:hover {
            background-color: #fff;
            color: #ea1379;
        }
    .news-container {
        padding-bottom: 30px;
        color: #0c0809;
    }

    .mid-container {
        background-color: #f5f5f5;
        color: #0c0809;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.34);
    }
    .bg-white.p-t-20{
        padding:0;
    }
    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #0c0809;
        font-size: 18px;
        font-family: 'Oswald',sans-serif
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .eventcard-title {
        height: 90px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }
    .f-40{
        font-size:40px;
        line-height:1.4;
        margin-top:0;
        letter-spacing:1px;
    }
    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }

        .banner-content-container {
            padding: 70px 50px;
        }

        .text-five {
            font-size: 200px;
        }

        .text-go-green {
            font-size: 43px;
        }

        .remedies {
            font-size: 18px;
        }

        .ev-date {
            font-size: 20px;
        }
    }


    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }
    }

    @@media screen and (max-width:768px) {
        .f-40 {
            font-size: 35px;
        }

        .media-partner {
            text-align: center;
        }

        .logo-container {
            text-align: center;
        }

        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }
    }

    @@media screen and (max-width:425px) {
        .banner-content-container {
            padding: 40px 20px;
        }

        .text-five {
            font-size: 160px;
            margin-top: 20px;
            text-align: center;
        }

        .text-go-green {
            font-size: 25px;
            text-align: center;
        }

        .text-slogan {
            font-size: 18px;
            text-align: center;
        }

        .remedies {
            font-size: 16px;
            text-align: center;
        }

        .why-abu {
            margin-top: 30px;
        }
    }
</style>
<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Event",
    "name": "Big Five Board Awards 2019",
    "startDate": "2019-11-21T18:00",
    "endDate": "2019-11-21T22:00",
    "location": {
    "@@type": "Place",
    "name": "The Geological Society",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "1The Geological Society",
    "addressLocality": "Burlington House, Piccadilly",
    "postalCode": "W1J 0BG",
    "addressRegion": "London",
    "addressCountry": "United Kingdom"
    }
    },
    "image": [
    "https://www.devdiscourse.com/images/mediapartners/bigfive_cover.jpg"
    ],
    "description": "The Big Five Board Awards offer an unrivaled evening of networking for Africa's leading oil and gas companies and senior executives in a reception-style event for these long-respected and annual accolades. Awarded since 1997 and with over 100 recipients to date, the Big Five Board Awards enter an incredible 23rd year. The event supports the plight of African wildlife and aims to raise funds for various conservation projects on the African Continent with a charity auction.",
    "offers": {
    "@@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "150",
    "priceCurrency": "GBP",
    "availability": "https://schema.org/InStock",
    "validFrom": "2019-11-20T12:00"
    }
    }
</script>
<div class="gard">
    <div class="container p-b-20">
        <div class="p-t-20 p-b-20 row">
            <div class="col-xs-12 col-sm-4 col-md-4 p-t-20 p-b-20">
                <p class="f-18 m-t-30 fg-white text-center font-sans-serif">Devdiscourse is proud media partner of </p>
                <img src="~/images/mediapartners/bigfive_logo.jpg" class="img-responsive center-block" />
            </div>
            <div class="p-t-50 col-xs-12 col-sm-8 col-md-8 text-center fg-white font-sans-serif">                
                <h1 class="p-t-20 f-40">
                    CELEBRATING EXCELLENCE<br />
                    IN AFRICA'S OIL & GAS
                </h1>
                <p class="f-18 m-t-20" style="border:2px solid #fff;padding:5px 15px; display:inline-block;">21 November 2019, The Geological Society, London</p>
                <div class="p-t-20 m-t-50 m-b-30">
                    <a href="https://www.bigfiveawards.com/#registration-page" target="_blank" class="btn btn-default btn-lg btncss">REGISTER NOW</a>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">
            
            <div class="item">
                <a href="https://www.bigfiveawards.com/" target="_blank" class="linkBtn" title="Diversity in Energy Summit 2019">Home</a>
            </div>
            <div class="item">
                <a href="https://www.bigfiveawards.com/#overview-page" target="_blank" class="linkBtn" title="Overview">OVERVIEW</a>
            </div>
            <div class="item">
                <a href="https://www.bigfiveawards.com/#previous-winners-page" target="_blank" class="linkBtn" title="Previous Winners">PREVIOUS WINNERS</a>
            </div>
            <div class="item">
                <a href="https://www.bigfiveawards.com/#venue-page" target="_blank" class="linkBtn" title="Vanue">VANUE</a>
            </div>
            <div class="item">
                <a href="https://www.bigfiveawards.com/#big-five-charity-auction-beneficiaries-page" target="_blank" class="linkBtn" title="Big Five Charity Auction Beneficiaries">BIG FIVE CHARITY AUCTION BENEFICIARIES</a>
            </div>
            <div class="item">
                <a href="https://www.bigfiveawards.com/#contacts-page" target="_blank" class="linkBtn" title="Contacts">CONTACTS</a>
            </div>
        </nav>
    </div>
</div>
@*<div class="news-container" style="display:normal;">
    <div class="p-t-30 container content-container">
        <h2 class="font-sans-serif">EVENT NEWS</h2>
        <div>
            <div id="moreEventNews">
                @{ Html.RenderAction("EventNews", "Events", new { id = "2", skip = 0, take = 5 });}
            </div>
            <div class="text-center loadmore f-16" style="display:none;"><span class="fa fa-circle-o-notch fa-spin fa-fw"></span>Loading</div>
        </div>
    </div>
</div>*@
@section scripts{
    <script>
        $(document).ready(function () {
            var _skip = 0;
            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?id=1&skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}