@{
    string domainUrl = "https://www.devdiscourse.com";
    ViewBag.Title = "change NOW | Devdiscourse";
    ViewBag.webEdition = ViewBag.region;
    ViewBag.alternateHeadline = "change NOW: International Summit For Change";
    ViewBag.pageType = "webpage";
    string imageUrl = "/images/mediapartners/changenowbg.jpg";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.PostUrl = "https://www.devdiscourse.com/events/changeNow";
    ViewBag.pageKeywords = "30 Jan - 1 Feb 2020, Paris,Grand Palais,the largest positive impact gathering in the world";
    ViewBag.PageDescription = "change Now,the largest positive impact gathering in the world.";

}
<style>
    .renderBody {
        margin: 0;
        background: #23B285;
    }

    .fg-color {
        color: #133100;
    }

    .bg-color {
        background-color: #133100;
    }

    .bg-secondary {
        background-color: #2e9e02;
    }

    .fg-secondary {
        color: #2e9e02;
    }

    .why-abu {
        color: #133100;
        font-size: 60px;
        font-weight: 500;
    }


    .banner-content-container {
        padding: 100px 50px 100px 100px;
    }

    .gard {
        background-color: #0c0809;
        background-image: url('/images/mediapartners/changenowbg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .gard-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.3);
    }

    .f-40 {
        font-size: 50px;
        font-weight: 600;
    }

    .font-sans-serif {
        font-family: sans-serif;
        color: white;
    }

    .f-20 {
        font-size: 20px;
    }

    .logo-container {
        text-align: right;
    }

    .news-container {
        background-color: #2e9e02;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        color: #fff;
    }

    .seperator {
        margin: 30px auto;
        width: 70%;
        height: 7px;
        background-color: #ffe926;
    }

    .mid-container {
        background-color: #333333;
        color: #fff;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.34);
    }

    .btn-css {
        background-color: #E81B1B;
        color: #fff;
        margin-top: 40px;
        font-size: 15px;
        font-weight: 700;
        padding: 10px 30px;
        font-family: sans-serif;
        border-radius: 25px;
        box-shadow: 0 15px 30px 0 rgba(8, 31, 62, 0.25);
    }


        .btn-css:active {
            background-color: #eeda2b;
            color: #133100;
        }

    btn-css:visited {
        color: #133100;
    }

    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-family: 'Oswald',sans-serif
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .eventcard-title {
        height: 90px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }

    .event-container {
        padding-top: 140px;
        padding-bottom: 160px;
    }

    .eventVenue {
        font-size: 20px;
        color: white;
        font-family: sans-serif;
    }

    .eventDesc {
        font-size: 40px;
        color: white;
        font-family: sans-serif;
        font-weight: bolder;
        letter-spacing: -1px;
    }

    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }

        .banner-content-container {
            padding: 70px 50px;
        }

        .f-40 {
            font-size: 40px;
        }

        .btn-css {
            font-size: 20px;
        }
    }


    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }
    }

    @@media screen and (max-width:768px) {
        .bg-container {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
        }

        .f-40 {
            font-size: 50px;
        }

        .logo-container {
            text-align: center;
        }

        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }
    }

    @@media screen and (max-width:425px) {
        .banner-content-container {
            padding: 40px 20px;
        }

        .why-abu {
            margin-top: 30px;
        }

        .btn-css {
            margin-top: 20px;
            font-size: 18px;
            padding: 10px 20px;
        }

        .eventDesc {
            font-size:20px;
        }
    }
</style>

<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Event",
    "name": "change NOW: International Summit For Change",
    "startDate": "2020-01-30T18:00",
    "endDate": "2020-02-01T22:00",
    "location": {
    "@@type": "Place",
    "name": "",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": "Grand Palais",
    "addressLocality": "Paris Grand Palais",
    "postalCode": "",
    "addressRegion": "Paris",
    "addressCountry": "FRANCE"
    }
    },
    "image": [
    "https://www.devdiscourse.com/images/mediapartners/changenowbg.jpg"
    ],
    "description": "TWe are at the beginning of a social and environmental revolution we need to accelerate NOW. This is why we, at ChangeNOW, are building on our previous editions to change scale and create the \"World Expo\" of innovations for the planet.",
    "offers": {
    "@@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "https://tmt.knect365.com/iot-world/purchase/select-package",
    "validFrom": "2020-01-30T18:00"
    }
    }
</script>

<div class="gard">
    <div class="gard-overlay"></div>
    <div class="container event-container">
        <div class="p-t-20 p-b-20">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="~/images/mediapartners/changenowlogoo.png" style="max-width:90%;" />
                </div>
            </div>
            <div style="padding-top:15px;padding-bottom:15px;" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p class="eventVenue">30 JAN - 1 FEB 2020 - PARIS GRAND PALAIS</p>
                    <p class="eventDesc">
                        THE LARGEST POSITIVE IMPACT
                        GATHERING IN THE WORLD
                    </p>
                    <a href="https://www.changenow-summit.com/tickets2020/" target="_blank" class="btn btn-css">GET YOUR PASS</a>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">
            <div class="item">
                <a href="https://www.changenow-summit.com/" target="_blank" class="linkBtn" title="Home">HOME</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/tickets2020/" target="_blank" class="linkBtn" title="Tickets">TICKETS</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/speakers2020/" target="_blank" class="linkBtn" title="Speakers">SPEAKERS</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/solutions2020/" target="_blank" class="linkBtn" title="Solutions">SOLUTIONS</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/program2020/" target="_blank" class="linkBtn" title="Program">PROGRAM</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/media-2018/" target="_blank" class="linkBtn" title="Media">MEDIA</a>
            </div>
            <div class="item">
                <a href="https://www.changenow-summit.com/about/" target="_blank" class="linkBtn" title="About">ABOUT</a>
            </div>
        </nav>
    </div>
</div>
<div class="container m-t-30 p-b-20">
    <div class="row m-t-20 p-b-20">
        @*<div class="col-xs-12 col-sm-12 col-md-6">
                <iframe width="500" height="300" src="https://www.youtube.com/embed/cQrxyGCHL_c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="max-width:100%;"></iframe>
            </div>*@
        <div class="col-xs-12 text-left">
            <div class="why-abu font-sans-serif text-uppercase"><b>WE ARE NOT HERE TO THINK, <br /><I>WE ARE HERE TO ACT!</I></b></div>
            <div class="content text-muted font-sans-serif f-16">
                <p class="m-t-20" style="color:white;font-size:20px"><b>ChangeNOW</b> is all about concrete actions and innovations: climate change, end of plastic pollution, new forms of agriculture, new models of education, solutions to the refugee crisis, clean energy, sustainable cities, ... and other solutions to our most urgent global issues. </p>

                <p class="m-t-20" style="color:white;font-size:20px"><b>A transformational experience with:</b></p>

                <ul class="m-t-20" style="color:white;font-size:20px">
                    <li>13,500 m² dedicated to solutions</li>
                    <li>3 stages for impact entrepreneurs and leaders</li>
                    <li>5,000 meetings and networking opportunities</li>
                    <li>50 mayors and international city representatives</li>
                    <li>And a full program of partnering events throughout Paris, by day and by night, dedicated to Positive Impact : a job fair, a film festival, a Sustainable Fashion event, investors dinners... and much more!</li>
                </ul>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var _skip = 0;

            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?id=25&skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}
