@{
    string domainUrl = "https://www.devdiscourse.com";
    ViewBag.Title = "EducationEgypt | Devdiscourse";
    ViewBag.webEdition = ViewBag.region;
    ViewBag.alternateHeadline = "EducationEgypt";
    ViewBag.pageType = "webpage";
    string imageUrl = "/images/mediapartners/egyptEdufinalbg.png";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.PostUrl = "https://www.devdiscourse.com/events/EgyptEducation";
    ViewBag.pageKeywords = "EducationEgypt, 26 - 28 September 2020,Egypt International Exhibition Center, #EducationEgypt";
    ViewBag.PageDescription = "Devdiscourse is proud media partner of Egypt International Exhibition Center #EducationEgypt 26 - 28 September 2020, Egypt International Exhibition Center.";

}
<style>
    .renderBody {
        margin: 0;
    }

    .fg-color {
        color: #1d2f36;
    }

    .bg-color {
        background-image: url('/images/mediapartners/egyptedusidebg.png');

    }

    .bg-secondary {
        background-color: #a7d7ff;
    }

    .fg-secondary {
        color: #a7d7ff;
    }

    .why-abu {
        color: #1d2f36;
        font-size: 35px;
        font-weight: 500;
    }

    .blank-container {
        padding-top: 25%;
        padding-bottom:25%
    }

    .banner-content-container {
        padding: 100px 50px;
    }


    .f-40 {
        font-size: 40px;
        font-weight: 600;
    }

    .f-25 {
        font-size: 25px;
        font-weight: 400;
    }

    .font-sans-serif {
        font-family: sans-serif;
    }

    .f-20 {
        font-size: 20px;
    }

    .news-container {
        background-color: #a7d7ff;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        color: #fff;
    }

    .mid-container {
        background-color: #293798;
        color: #1d2f36;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.34);
    }

    .btn-css {
        background-color: white;
        color: #923992;
        margin-top: 40px;
        font-size: 24px;
        font-weight: 500;
        padding: 10px 30px;
        font-family: sans-serif;
        border-radius: 30px;
        box-shadow: 0 15px 30px 0 rgba(8, 31, 62, 0.25);
    }

        .btn-css:active {
            background-color: #a7d7ff;
            color: #fff;
        }

        .btn-css:hover {
            background-color: #49a7f5;
            color: #fff;
        }

    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        font-family: 'Oswald',sans-serif;
        font-weight: bold;
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .gard-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.7);
    }

    .event-container {
        padding-top: 140px;
        padding-bottom: 60px;
    }

    .eventcard-title {
        height: 90px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .eventDt{
        font-size:60px;
        font-weight:bolder;
        color:#fff;
        font-family:sans-serif;
    }

    .eventVenue {
        font-size: 40px;
        font-weight: bolder;
        color: #fff;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }

    .backgroundImage {
        background-image: url(/images/mediapartners/eduEgyptbgsideimage.png);
        height: 390px;
        width: auto;
        margin-right: 30px;
    }

    .centerImage {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 15px;
        padding-bottom: 5px;
    }

    .gard {
        background-image: url('/images/mediapartners/egyptEdufinalbg.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
    }

    .gard-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    } 

    .bottomContent {
        font-weight: bolder;
        font-size: 16px;
    }
    
    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }

        .banner-content-container {
            padding: 70px 50px;
        }

        .f-40 {
            font-size: 32px;
        }

        .f-25 {
            font-size: 21px;
        }

        .f-20 {
            font-size: 18px;
        }

        .f-18 {
            font-size: 16px;
        }

        .btn-css {
            font-size: 20px;
        }
    }


    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }
    }

    @@media screen and (max-width:768px) {
        .bg-container {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
        }

        .text-right.banner-content-container {
            text-align: left;
        }

        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }
    }

    @@media screen and (max-width:425px) {
        .banner-content-container {
            padding: 40px 30px;
        }

        .why-abu {
            margin-top: 30px;
        }

        .btn-css {
            margin-top: 20px;
            font-size: 18px;
            padding: 10px 20px;
        }

        .centerImage{
            height:800px;
        }
    }
</style>

<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Event",
    "name": "Education Egyt 2020",
    "startDate": "2020-09-26T18:00",
    "endDate": "2020-09-28T22:00",
    "location": {
    "@@type": "Place",
    "name": "Egypt International Exhibition Center",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": " Al Hay Al Asher, Nasr City",
    "addressLocality": "Cairo Governorate",
    "postalCode": "",
    "addressRegion": "Egypt",
    "addressCountry": "Egypt"
    }
    },
    "image": [
    "https://www.devdiscourse.com/images/mediapartners/egyptEdufinalbg.png"
    ],
    "description": "Debuting in September 2020, Education Egypt is inviting the industry to take a step beyond the classroom and discover the pioneering education solutions transforming how we learn.",
    "offers": {
    "@@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "",
    "validFrom": "2020-09-26T12:00"
    }
    }
</script>

<div class="gard">
    <div class="gard-overlay"></div>
    <div class="container event-container">
        <div class="p-t-20 p-b-20">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <img src="~/images/mediapartners/egyptedulogo.png" width="300" style="max-width:100%;background-color: rgba(255,255,255,0.6);padding:10px;" />
                </div>
            </div>
            <div style="padding-top:30px;padding-bottom:30px;" class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                    <p style="font-size:60px;"><b style="color:white;"> 26-28 SEPTEMBER 2020</b></p><br />
                    <p style="font-size:25px;color:white;">Egypt International Exhibition Center #EducationEgypt</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">
            <div class="item">
                <a href="https://www.education-egypt.com/" target="_blank" class="linkBtn" title="Home">HOME</a>
            </div>
            <div class="item">
                <a href="https://www.education-egypt.com/exhibit/why-exhibit/" target="_blank" class="linkBtn" title="Exhibit">EXHIBIT</a>
            </div>
            <div class="item">
                <a href="https://www.education-egypt.com/visit/why-visit/" target="_blank" class="linkBtn" title="Visit">VISIT</a>
            </div>
            <div class="item">
                <a href="https://www.education-egypt.com/media/industry-news/" target="_blank" class="linkBtn" title="Media">MEDIA</a>
            </div>
            <div class="item">
                <a href="https://www.education-egypt.com/more-info/about-education-egypt/" target="_blank" class="linkBtn" title="More Info">MORE INFO</a>
            </div>
            <div class="item">
                <a href="https://www.education-egypt.com/more-info/contact-us/" target="_blank" class="linkBtn" title="Contact Us">CONTACT US</a>
            </div>
        </nav>
    </div>
</div>
<div class="container m-t-30">
    <div class="row m-t-20">
        <div  class="col-xs-12 col-sm-12 col-md-6 backgroundImage ">
            <img src="~/images/mediapartners/egyptedusideimage.png" width="500" style="max-height:370px" class="img-responsive centerImage" alt="About Innovation and Latest Trends of Entrepreneurship" />
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="why-abu font-sans-serif text-uppercase"><b>ABOUT <span style="color:#CB4E88" >EDUCATION EGYPT</span></b></div>
            <div class="content text-muted font-sans-serif f-16 bottomContent">
                <p class="m-t-20">Egypt is home to the MENA region's biggest student population. In excess of 52 million schoolchildren – more than half the country’s entire population – are currently enrolled in its education system, with a further 2.6 million students in colleges and universities.</p>

                <p>With its population only getting younger, the Egyptian government last year committed to the Egypt Education Reform Project: a national initiative aimed at advancing learning across the country’s vast public curriculum, kick-started with US $500 million worth of World Bank investment.</p>

                <p>With its population only getting younger, the Egyptian government last year committed to the Egypt Education Reform Project: a national initiative aimed at advancing learning across the country’s vast public curriculum, kick-started with US $500 million worth of World Bank investment.</p>
            </div>
        </div>
    </div>
</div>
@*<div class="news-container">
        <div class="p-t-30 container content-container">
            <h2 class="font-sans-serif">EVENT NEWS</h2>
            <div>
                <div id="moreEventNews">
                    @{ Html.RenderAction("EventNews", "Events", new { id = "1", skip = 0, take = 5 });}
                </div>
                <div class="text-center loadmore f-16" style="display:none;"><span class="fa fa-circle-o-notch fa-spin fa-fw"></span>Loading</div>
            </div>
        </div>
    </div>*@
@section scripts{
    <script>
        $(document).ready(function () {
            var _skip = 0;

            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?id=1&skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}