@{
    string domainUrl = "https://www.devdiscourse.com";
    ViewBag.Title = "RAWMEC 2020 | Devdiscourse";
    ViewBag.webEdition = ViewBag.region;
    ViewBag.alternateHeadline = "Rawmec Recycling & Waste Management Exhibition & Conference";
    ViewBag.pageType = "webpage";
    string imageUrl = "/images/mediapartners/rawmecbg.jpg";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.PostUrl = "https://www.devdiscourse.com/events/LebanonSustainability";
    ViewBag.pageKeywords = "23 - 25 June 2020 Seaside Pavilion,Beirut-Lebanon Conference Hours: 8:30 a.m. - 5:00 p.m. Exhibition Hours: 9:00 a.m. - 6:00 p.m.";
    ViewBag.PageDescription = "RAWMEC is Lebanon’s largest recycling and waste management exhibition and conference.It is part of a bigger platform called Lebanon Sustainability Week, which will focus on solid waste, industrial waste and alternative energy.";

}
<style>
    .renderBody {
        margin: 0;
    }

    .fg-color {
        color: #133100;
    }

    .bg-color {
        background-color: #133100;
    }

    .bg-secondary {
        background-color: #2e9e02;
    }

    .fg-secondary {
        color: #2e9e02;
    }

    .why-abu {
        color: #133100;
        font-size: 32px;
        font-weight: 500;
    }


    .banner-content-container {
        padding: 100px 50px 100px 100px;
    }

    .gard {
        background-color: #0c0809;
        background-image: url('/images/mediapartners/rawmecbg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        position: relative;
        padding-bottom: 80px;
    }

    .gard-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.5);
    }

    .f-40 {
        font-size: 50px;
        font-weight: 600;
    }

    .font-sans-serif {
        font-family: sans-serif;
        color: #42B94B;
    }

    .f-20 {
        font-size: 20px;
    }

    .logo-container {
        text-align: right;
    }

    .news-container {
        background-color: #2e9e02;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        color: #fff;
    }

    .seperator {
        margin: 30px auto;
        width: 70%;
        height: 7px;
        background-color: #ffe926;
    }

    .mid-container {
        background-color: #093E5F;
        color: #fff;
        box-shadow: 0 -3px 6px 0 rgba(0, 0, 0, 0.34);
    }

    .btn-css {
        background-color: #80BC7B;
        color: white;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 30px;
        font-family: sans-serif;
        border-radius: 25px;
        box-shadow: 0 15px 30px 0 rgba(8, 31, 62, 0.25);
    }

    .btn-css2 {
        background-color: #571954;
        color: white;
        font-size: 18px;
        padding: 5px 15px;
        font-family: sans-serif;
    }

    .btn-css3 {
        background-color: #4372B9;
        color: white;
        font-size: 18px;
        padding: 5px 15px;
        font-family: sans-serif;
    }

    .btn-css:active {
        background-color: #eeda2b;
        color: #133100;
    }

    btn-css:visited {
        color: #133100;
    }

    .btn-css:hover {
        background-color: #d3be04;
        color: #133100;
    }

    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-family: 'Oswald',sans-serif
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .eventcard-title {
        height: 90px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }

    .event-container {
        padding-top: 140px;
        padding-bottom: 60px;
    }

    .bg-white.p-t-20 {
        padding-top: 0;
    }

    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }

        .banner-content-container {
            padding: 70px 50px;
        }

        .f-40 {
            font-size: 40px;
        }

        .btn-css {
            font-size: 20px;
        }
    }


    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }

        .btn-css2 {
            margin-bottom: 5px;
        }

        .gard {
            padding-top: 15px;
        }
    }

    @@media screen and (max-width:768px) {
        .bg-container {
            background-size: contain;
            background-repeat: no-repeat;
            background-position: top;
        }

        .f-40 {
            font-size: 50px;
        }

        .logo-container {
            text-align: center;
        }

        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }

        .gard {
            padding-top: 0px;
        }
    }

    @@media screen and (max-width:425px) {
        .banner-content-container {
            padding: 40px 20px;
        }

        .why-abu {
            margin-top: 30px;
        }

        .btn-css {
            margin-top: 20px;
            font-size: 18px;
            padding: 10px 20px;
        }
    }
</style>

<script type="application/ld+json">
    {
    "@@context": "https://schema.org",
    "@@type": "Event",
    "name": "Lebanon Sustainability Week 2020",
    "startDate": "2020-06-23T18:00",
    "endDate": "2020-06-25T22:00",
    "location": {
    "@@type": "Place",
    "name": "",
    "address": {
    "@@type": "PostalAddress",
    "streetAddress": " Seaside Pavilion",
    "addressLocality": " Seaside Pavilion",
    "postalCode": "",
    "addressRegion": "Beirut",
    "addressCountry": "Lebanon"
    }
    },
    "image": [
    "https://www.devdiscourse.com/images/mediapartners/rawmecbg.jpg"
    ],
    "description": "RAWMEC is Lebanon’s largest recycling and waste management exhibition and conference.It is part of a bigger platform called Lebanon Sustainability Week, which will focus on solid waste, industrial waste and alternative energy.With participation from various stakeholders including decision-makers, industry experts, innovators, private sector, investors and academia, RAWMEC will provide impetus to sustainability initiatives in Lebanon and other regional countries.",
    "offers": {
    "@@type": "Offer",
    "url": "https://www.example.com/event_offer/12345_201803180430",
    "price": "0",
    "priceCurrency": "USD",
    "availability": "https://www.rawmec-lb.com/visitorRegistrationForm.php",
    "validFrom": "2020-06-23T18:00"
    }
    }
</script>

<div class="gard">
    <div class="container-fluid">
        <div class="row text-center" style="background-color:#fff;padding:15px;">

            <div class="col-sm-4 col-md-4 ">
                <img src="~/images/mediapartners/rawmeclogo.svg" style="max-width:100%;padding-top:20px;" />
            </div>

            <div class="col-sm-4 col-md-4">

                <p style="font-size:14px;font-weight:bold;font-family:sans-serif;padding-top:10px;">Part Of</p>      

                <img src="~/images/mediapartners/lebanonlogo.png" style="max-width:100%; " />
            </div>

            <div class="col-sm-4 col-md-4">

                <p style="font-size:14px;font-weight:bold;font-family:sans-serif;">Conference Partner</p>

                <img src="~/images/mediapartners/republicoflebanonlogo.png" style="max-width:100%;" />
            </div>


        </div>

    </div>

    <div class="container event-container">
        <div class="p-t-20 p-b-20">
            <div class="row">
                <div class="col-xs-12 text-center" ;>
                    <div style="background-color:#070707;opacity:0.7;color:#fff;padding:10px;">
                        <p style="font-size:28px;font-family:sans-serif;color:#61AB45;padding-top:20px;font-weight:bold;">23 - 25 JUNE 2020</p>

                        <p style="color:#fff;font-family:sans-serif;font-size:18px;">Seaside Pavilion, Beirut-Lebanon</p>

                        <p style="color:#fff;font-family:sans-serif;font-size:16px;font-weight:bold;">
                            Conference Hours: 8:30 a.m. - 5:00 p.m.<br />
                            Exhibition Hours: 9:00 a.m. - 6:00 p.m.
                        </p>

                    </div>



                </div>
            </div>
        </div>
    </div>
</div>


<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">
            <div class="item">
                <a href="https://www.rawmec-lb.com/index.php" target="_blank" class="linkBtn" title="Home">HOME</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/bookStand.php" target="_blank" class="linkBtn" title="Exhibition">EXHIBITION</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/conference-2020.php" target="_blank" class="linkBtn" title="Conference">CONFERENCE</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/whyVisit.php" target="_blank" class="linkBtn" title="Visitor">VISITOR</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/whySponsor.php" target="_blank" class="linkBtn" title="Sponsors & Partners">SPONSORS & PARTNERS</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/venue.php" target="_blank" class="linkBtn" title="Useful Info">USEFUL INFO</a>
            </div>
            <div class="item">
                <a href="https://www.rawmec-lb.com/contactUs.php" target="_blank" class="linkBtn" title="Contact Us">CONTACT US</a>
            </div>
        </nav>
    </div>
</div>
<div class="container m-t-30 p-b-20">
    <div class="row m-t-20 p-b-20">
        <div class="col-xs-12 col-sm-12 col-md-6">
            <iframe width="500" height="300" src="https://www.youtube.com/embed/xBWOItnjTNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="max-width:100%;"></iframe>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="why-abu font-sans-serif text-uppercase"><b><span style="color:#103C61">ABOUT</span> THE EVENT</b></div>
            <div class="content text-muted font-sans-serif f-16">
                <p class="m-t-20" style="color:black;">RAWMEC is Lebanon’s largest recycling and waste management exhibition and conference.</p>

                <p class="m-t-20" style="color:black;">It is part of a bigger platform called Lebanon Sustainability Week, which will focus on solid waste, industrial waste and alternative energy.</p>

                <p class="m-t-20" style="color:black;">With participation from various stakeholders including decision-makers, industry experts, innovators, private sector, investors and academia, RAWMEC will provide impetus to sustainability initiatives in Lebanon and other regional countries.</p>

                <p class="m-t-20" style="color:black;">
                    Lebanon Sustainability Week will be a venue for knowledge-sharing, brainstorming, solutions delivery, technology transfer, peer networking and capacity building in the solid waste management, industrial waste management.
                </p>

            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            var _skip = 0;

            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?id=25&skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}
