
@{
    ViewBag.Title = "4th Sub Saharan Africa Power 2018 | Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    string imageUrl = "/AdminFiles/Logo/devediscourse_banner.png";
    ViewBag.PageDescription = "International Development News, Sustainable Development, Energy, Economy, Finance, Transport, Education, Digital Development,Industry, Agro-Forestry, Social Protection,Public Administration, Water and Sanitation, Health News";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.webEdition = "Global Edition";
    ViewBag.PostUrl = "https://www.devdiscourse.com";
    ViewBag.pageKeywords = "Sub Saharan Africa's Premier Power";
}
<style>
    .renderBody {
        margin-top: 0px;
    }
    .gard {
        background: linear-gradient(to bottom, #F16725 0%, #f68d18 100%);
    }
    .btncss{
        border-radius:20px;
        background-color:#fff;
        color:#ff7b00;
        font-size:16px;
        font-weight:500;
    }
        .btncss:hover {
            background-color: #fff;
            color: #ff7b00;
        }
    .btncss2 {
        border-radius: 20px;
        background: linear-gradient(to bottom, #F16725 0%, #f68d18 100%);
        color: #fff;
        font-size: 16px;
        font-weight: 500;
        margin-right: 20px;
    }
        .btncss2:hover {
            color: #fff;
        }
    .p-b-50{
        padding-bottom:50px;
    }
    .topics {
        padding-left: 15px;
        font-size: 18px
    }
        .topics-border {
            border-left: 4px solid #ff7b00;
        } @@media(max-width:768px) {
            .btncss2 {
            margin-right: 3px;
            margin-bottom: 10px;
        }
    }
    @@media(max-width:425px){
        .btncss2 {
            display:inline-block;
            float:left;
        }
        .row.p-t-30, .row .p-t-30 {
            padding-top: 0;
        }
    }
    @@media (max-width: 2560px) and (min-width: 1440px) {
        .content-container {
            width: 1100px !important;
        }
    }
    @@media (max-width: 2560px) and (min-width: 1440px) {
        .content-container2 {
            width: 900px !important;
        }
    }
</style>
<h1 class="hidden">Devdiscourse: International Development News</h1>
<div class="gard">
    <div class="p-t-20 p-b-20 row no-margin">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <img src="~/images/mediapartners/ssaplogo.png" class="img-responsive center-block" style="margin-right:unset" alt="SSAP Logo" />
        </div>
        <div class="p-t-50 col-xs-12 col-sm-8 col-md-8 text-center fg-white">
            <p class="f-20">Devdiscourse is proud media sponsor of</p>
            <h2 class="p-t-20">Sub Saharan Africa's Premier Power &Renewables Event</h2>
            <p class="f-18">17th - 19th October 2018, Cape Town, South Africa</p>
            <p class="f-18 p-t-20">“Alleviating Power Challenges in Southern Africa through Innovative Investments, Technologies & Solutions”</p>
            <p class="f-16 p-t-20">We move away from traditional trade shows and exhibitions</p>
            <p class="f-16">Benefits from a closed door event with some of the power industry's key decision makers at the beautiful Hilton Double Tree, Cape Town.</p>
            <div class="p-t-20">
                <a href="http://www.ssapower.com/register/" target="_blank" class="btn btn-default btncss">ENQUIRE</a>
                <a href="http://www.ssapower.com/delegatepass/" target="_blank" class="btn btn-default btncss">BUY A TICKET</a>
            </div>
        </div>
    </div>
</div>
<div class="container p-t-30">
    <ol class="breadcrumb breadcrumb_new">
        <li><a href="@Url.Action("Index", "MediaPartnership")">Media Partner</a></li>
        <li class="active">SSAP</li>
    </ol>
    <div class="row p-b-50">
        <div class="p-t-30 col-xs-12 col-sm-6">
            <h3 style="color:#ff7b00">Why SSA Power?</h3>
            <p>In October 2018, Cape Town, South Africa will play host to Sub-Saharan Africa’s No.1 Business to Business Power event, which will bring together the senior decision makers from the IPP, PPP and National Power communities across the region. The entire installed generation capacity of Africa’s 48 Sub-Saharan countries is just 68 gigawatts, no more than Spain’s. Up to one-quarter of that capacity is unavailable because of aging plants and poor maintenance. In Sub-Saharan Africa, just one person in five has access to electricity. If current trends continue, fewer than 40 percent of Sub-Saharan African countries will reach universal access to electricity by 2050. Per capita consumption of electricity in Sub-Saharan Africa (excluding South Africa) averages only 124 kilowatt-hours a year and is falling. The rate of consumption is barely 1 percent of that in high-income countries. If entirely allocated to household lighting, it would hardly be enough to power one light bulb per person for three hours a day.</p>
            <a href="http://www.ssapower.com/about/" target="_blank" class="btncss2 btn btn-default">READ MORE</a>
        </div>
        <div class="p-t-20 col-xs-12 col-sm-6">
            <img data-src="/images/mediapartners/ssap.png" src="~/Content/transparent.png" class="img-responsive lazy" alt="SSA Power" />
        </div>
    </div>
</div>
<div class="p-t-10" style="background-color:#eee">
    <div class="p-b-50 container content-container">
        <div class="row">
            <div class="text-center col-xs-12">
                <h3>Topics of Discussion</h3>
            </div>
        </div>
        <div class="row p-t-30">
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Gas to Power</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Clean Coal Generation</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Solar Technologies</span>
            </div>
        </div>
        <div class="row p-t-30">
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Wind Technologies</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Geothermal Technologies</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Digitalization & Cyber Security</span>
            </div>
        </div>
        <div class="row p-t-30">
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Transmission & Distribution</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Financing</span>
            </div>
            <div class="p-b-10 col-xs-12 col-sm-4">
                <span class="topics-border"></span><span class="topics">Smart Metering</span>
            </div>
        </div>
    </div>
</div>
<div class="p-t-20 p-b-50">
    <div class="container content-container2">
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center"><h3 style="color:#ff7b00">Quick Links</h3></div>
                <div class="p-t-20">
                    <a href="http://www.ssapower.com#service" target="_blank" class="btncss2 btn btn-default">WHO ATTENDS</a>
                    <a href="http://www.ssapower.com#call-to-action" target="_blank" class="btncss2 btn btn-default">DOWNLOAD BROCHURE</a>
                    <a href="http://www.ssapower.com#testimonial" target="_blank" class="btncss2 btn btn-default">PREMIER PARTNER</a>
                    <a href="http://www.ssapower.com#previousattendees" target="_blank" class="btncss2 btn btn-default">PREVIOUS ATTENDEES</a>
                </div>
                <div class="p-t-30">
                    <a href="http://www.ssapower.com/team/" target="_blank" class="btncss2 btn btn-default">TEAM</a>
                    <a href="http://www.ssapower.com/faq/" target="_blank" class="btncss2 btn btn-default">FAQ'S</a>
                    <a href="http://www.ssapower.com/news/" target="_blank" class="btncss2 btn btn-default">EVENT NEWS</a>
                    <a href="http://www.ssapower.com/contact/" target="_blank" class="btncss2 btn btn-default">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $(document).find('#regDropDown').change(function () {
            var date = new Date();
            date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
            document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
            window.location.href = "/";//$(this).find('option:selected').attr('data-to');
        });
    });
</script>
