@{
    ViewBag.Title = "World Road Congress - International Development News | Devdiscourse";
    string domainUrl = "https://www.devdiscourse.com";
    ViewBag.webEdition = ViewBag.region;
    ViewBag.alternateHeadline = "World Road Congress - International Development News | Devdiscourse";
    ViewBag.pageType = "webpage";
    string imageUrl = "/images/event-banner/main-right.jpg?width=920";
    ViewBag.PageImage = string.Concat(domainUrl, imageUrl);
    ViewBag.PostUrl = "https://www.devdiscourse.com/events/world-road-congress";
    ViewBag.pageKeywords = "World Road Congress, International Conference, Devdiscourse";
    ViewBag.PageDescription = "The Abu Dhabi Department of Transport (DoT) won the bid to host the prestigious 26th Congress and taking the current international situation across the globe into account came up with the topic 'Connecting Cultures, Enabling Economies' to enable multilateral talks as innovative way to establish new ideas towards better understanding not only of road, infrastructure and transport works but also regarding the cultural part that should be implemented among all.";
}
<style>
    .fg-color {
        color: #bc182b;
    }

    .bg-color {
        color: #bc182b;
    }

    .abu-logo {
        height: 350px;
        margin-top: 40px;
    }

    .main-right {
        height: 600px;
    }

    .why-abu {
        color: #234e5e;
        font-size: 28px;
        font-weight: 500;
    }

    .news-container {
        background-color: #234e5e;
        margin-top: 30px;
        margin-bottom: 20px;
        padding-bottom: 30px;
        color: #fff;
    }

    .mid-container {
        background-color: #bc182b;
        color: #fff;
        margin-top: 30px;
    }

    .btn-css {
        background-color: #bc182b;
        color: #fff;
        margin-top: 40px;
        font-size: 24px;
        font-weight: 500;
        padding: 10px 60px;
    }

        .btn-css:active {
            background-color: #bc182b;
            color: #fff;
        }

        .btn-css:hover {
            background-color: #234e5e;
            color: #fff;
        }

    nav.navscrollmenubar {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        z-index: 500;
        text-align: center
    }

        nav.navscrollmenubar .item {
            display: inline-block
        }

        nav.navscrollmenubar .dropdown {
            float: right
        }

    .item-right {
        float: right
    }

    nav.navscrollmenubar .linkBtn {
        display: inline-block;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 18px;
        font-family: 'Oswald',sans-serif
    }

    .event-news {
        height: 240px;
        background-repeat: no-repeat;
        background-size: cover
    }

    .eventcard-title {
        height: 80px;
        color: #222;
        background-color: #fff;
        font-stretch: condensed;
        font-size: 14px;
        padding: 10px;
    }

    .loadMoreButton {
        font-size: 16px;
        color: #222;
        background-color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        padding: 10px;
        border: 1px solid #eee;
    }

    @@media (max-width: 2560px) and (min-width: 1500px) {
        .content-container {
            width: 1100px !important;
        }
    }

    @@media(max-width:1440px) {
        .eventcard-title {
            height: 100px;
        }
    }
    /*nav.navscrollmenubar .linkBtn:hover {
                background-color: #234e5e;
            }*/
    @@media screen and (max-width:1200px) {
        nav.navscrollmenu .dropdown, .item-right {
            float: none
        }
    }

    @@media(max-width:1024px) {
        .eventcard-title {
            height: 110px;
        }
    }

    @@media screen and (max-width:768px) {
        nav.navscrollmenu {
            padding-left: 35px
        }

        .eventcard-title {
            height: 120px;
        }

        h2 {
            font-size: 22px;
        }

        .abu-logo {
            height: 300px;
        }

        .main-right {
            height: 500px;
        }
    }

    @@media screen and (max-width:425px) {
        .main-right {
            margin-top: 30px;
            height: 400px;
        }

        .why-abu {
            margin-top: 30px;
        }
    }

</style>
<h1 class="hidden">Devdiscourse: International Development News</h1>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-5 col-md-4 text-center">
            <img src="~/images/event-banner/abu-logo.jpg" class="img-responsive center-block abu-logo" alt="abu-logo" />
            <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-160-9cdd9b3dccdc450991da91decda350b4.aspx?lang=en&cpc=H4N262NLQVQ" target="_blank" class="btn btn-css">REGISTER NOW</a>
        </div>
        <div class="col-xs-12 col-sm-7 col-md-8">
            <img src="~/images/event-banner/main-right.jpg" class="img-responsive center-block main-right" alt="banner" />
        </div>
    </div>
</div>
<div class="mid-container">
    <div class="container">
        <nav class="navscrollmenubar">
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-17-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="About PIARC">ABOUT PIARC</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-120-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Congress Programme">CONGRESS PROGRAMME</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-115-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Speakers">SPEAKERS</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-134-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Vanue Facilities">VANUE FACILITIES</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-145-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Road to Abu Dhabi">THE ROAD TO ABU DHABI</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-136-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Photos">PHOTOS</a>
            </div>
            <div class="item">
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/contactus-9cdd9b3dccdc450991da91decda350b4.aspx" target="_blank" class="linkBtn" title="Contact us">CONTACT US</a>
            </div>
        </nav>
    </div>
</div>
<div class="container m-t-30">
    <div class="row m-t-20">
        <div class="col-xs-12 col-sm-6">
            <img src="~/images/event-banner/about.jpg" style="height:370px" class="img-responsive center-block" alt="why-abu-dhabi" />
        </div>
        <div class="col-xs-12 col-sm-6">
            <div class="why-abu">ABOUT WRC</div>
            <div class="content f-16">
                <p class="m-t-20">Since the first World Road Congress held in Paris in 1908, PIARC has organized Congresses every four years in a member country with the aim of sharing worldwide techniques, innovations, political strategies, trends and developments, best practices and experiences in the fields of road, infrastructures and transport between Ministers, governments, private sector, road and transport administrations and organizations, academics, solutions’ providers, experts and practitioners from more than 120 countries across the planet.</p>
                <p>The Abu Dhabi Department of Transport (DoT) won the bid to host the prestigious 26th Congress and taking the current international situation across the globe into account came up with the topic “Connecting Cultures, Enabling Economies” to enable multilateral talks as innovative way to establish new ideas towards better understanding not only of road, infrastructure and transport works but also regarding the cultural part that should be implemented among all.</p>
                <a href="http://www.aipcrabudhabi2019.org/events/abu-dhabi-world-road-congress-2019/custom-19-9cdd9b3dccdc450991da91decda350b4.aspx?lang=en&cpc=H4N262NLQVQ" target="_blank" style="color:#234e5e">Read More</a>
            </div>
        </div>
    </div>
</div>
<div class="news-container" style="display:none;">
    <div class="p-t-30 container content-container">
        <h2>EVENT NEWS</h2>
        <div>
            <div id="moreEventNews">
                @* @{ Html.RenderAction("GetEventNews", "Events", new { skip = 0, take = 5 });} *@
                @await Component.InvokeAsync("GetEventNews", new { skip = 0, take = 5 });
            </div>
            <div class="text-center loadmore f-16" style="display:none;"><span class="fa fa-circle-o-notch fa-spin fa-fw"></span>Loading</div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            var _skip = 0;

            $('.lazy').lazy();
            $(document).find('#regDropDown').change(function () {
                var date = new Date();
                date.setTime(date.getTime() + (24 * 60 * 60 * 1000));
                document.cookie = "Edition=" + $(this).val() + "; expires=" + date.toGMTString();
                window.location.href = $(this).find('option:selected').attr('data-to');
            });
            $(document).on("click", ".load_more", function () {
                $(this).remove();
                $('.loadmore').show();
                _skip = _skip + 6;
                $.ajax("/Events/GetEventNews?skip=" + _skip + "&take=6").done(function (data) { $('#moreEventNews').append(data); $('.loadmore').hide(); });
            });
        });
    </script>
}