<div id="carousel-example-generic" class="carousel slide custom-carousel" data-ride="carousel">
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<a href="https://visionri.com/insight/22-refugee-compassion-and-response-ideas-to-mitigate-disasters-now-and-in-their-future" target="_blank" rel="noopener">
				<img data-src="/AdminFiles/COE/refugee_300x300.jpg" class="img-responsive lazy" alt="add-banner">
			</a>
		</div>
		<div class="item">
			<a href="https://visionri.com/insight/23-tracking-telehealth-covid-19-ushers-in-a-new-era-for-the-industry" target="_blank" rel="noopener">
				<img data-src="/AdminFiles/COE/tracking_telehealth_300x300.jpg" class="img-responsive lazy" alt="add-banner">
			</a>
		</div>
		<div class="item">
			<a href="https://www.visionri.com/insight/13-pharma-post-covid-19-reducing-political-clout-can-alter-business-models" target="_blank" rel="noreferrer">
				<img data-src="/AdminFiles/COE/pharma_300x300.jpg" class="img-responsive lazy">
			</a>
		</div>
		<div class="item">
			<a href="https://www.visionri.com/insight/14-retail-post-covid-19-knocking-down-persistent-barriers-to-change" target="_blank" rel="noreferrer"><img data-src="/AdminFiles/COE/retail_300x300.jpg" class="img-responsive lazy"></a>
		</div>
		<div class="item">
			<a href="https://www.visionri.com/insight/15--supply-chains-post-covid-19-disruptions-to-accelerate-long-pending-revamping" target="_blank" rel="noreferrer"><img data-src="/AdminFiles/COE/supply_chain_300x300.jpg" class="img-responsive lazy"></a>
		</div>
		<div class="item">
			<a href="https://www.visionri.com/insight/16-telehealth-post-covid-19-breaking-stereotypes-and-embracing-the-potential-of-technology" target="_blank" rel="noreferrer"><img data-src="/AdminFiles/COE/telehealth_300x300.jpg" class="img-responsive lazy"></a>
		</div>
		<div class="item">
			<a href="https://www.visionri.com/insight/17--workplaces-post-covid-19-tech-innovations-to-catalyse-a-remote-working-culture" target="_blank" rel="noreferrer"><img data-src="/AdminFiles/COE/workplace_300x300.jpg" class="img-responsive lazy"></a>
		</div>
	</div>
</div>