<div class="bg-highlight p-t-10 p-b-10">
	<div id="carousel-example-generic" class="carousel slide custom-carousel" data-ride="carousel">
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<a href="https://play.google.com/store/apps/details?id=com.visionri.devdiscourse" target="_blank" title="Devdiscourse - Download our App" rel="noreferrer">
					<img src="~/AdminFiles/Ads/devdiscourse_app_300x300.jpg" class="img-responsive" />
				</a>
			</div>
			<div class="item">
				<a href="https://visionri.com/Home/IdeaME" target="_blank" title="IDEA-ME" rel="noreferrer">
					<img data-src="/AdminFiles/Ads/idea_me_300x300.jpg" class="img-responsive lazy" />
				</a>
			</div>
			<div class="item">
				<a href="https://visionri.com/Home/IdeaKM" target="_blank" title="IDEA-KM" rel="noreferrer">
					<img data-src="/AdminFiles/Ads/idea_km_300x300.jpg" class="img-responsive lazy" />
				</a>
			</div>
			<div class="item">
				<a href="https://visionri.com/Home/Vithi" target="_blank" title="Vithi" rel="noreferrer">
					<img data-src="/AdminFiles/Ads/vithi_300x300.jpg" class="img-responsive lazy" />
				</a>
			</div>
			<div class="item">
				<a href="https://visionri.com/Home/Vyapad" target="_blank" title="Vyapad" rel="noreferrer">
					<img data-src="/AdminFiles/Ads/vyapad_300x300.jpg" class="img-responsive lazy" />
				</a>
			</div>
			<div class="item">
				<a href="https://visionri.com/Home/Vyoma" target="_blank" title="Vyoma" rel="noreferrer">
					<img data-src="/AdminFiles/Ads/vyoma_300x300.jpg" class="img-responsive lazy" />
				</a>
			</div>
		</div>
	</div>
</div>