<div style="background-color:#BE8A2E">
    <a href="~/AdminFiles/SDGPdf/12_Consumption.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/12.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Ensure sustainable consumption and production patterns
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>Sustainable consumption and production is about promoting resource and energy efficiency, sustainable infrastructure, and providing access to basic services, green and decent jobs and a better quality of life for all. Its implementation helps to achieve overall development plans, reduce future economic, environmental and social costs, strengthen economic competitiveness and reduce poverty.</p>
        <p>
            Sustainable consumption and production  aims at “doing more and better with less,” increasing net welfare gains from economic activities by reducing resource use, degradation and pollution along the whole lifecycle, while increasing quality of life. It involves different stakeholders, including business, consumers, policy makers, researchers, scientists, retailers, media, and development cooperation agencies, among others.
            It also requires a systemic approach and cooperation among actors operating in the supply chain, from producer to final consumer. It involves engaging consumers through awareness-raising and education on sustainable consumption and lifestyles, providing consumers with adequate information through standards and labels and engaging in sustainable public procurement, among others.
        </p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Each year, an estimated one third of all food produced – equivalent to 1.3 billion tonnes worth around $1 trillion – ends up rotting in the bins of consumers and retailers, or spoiling due to poor transportation and harvesting practices</li>
                <li>If people worldwide switched to energy efficient lightbulbs the world would save US$120 billion annually</li>
                <li>Should the global population reach 9.6 billion by 2050, the equivalent of almost three planets could be required to provide the natural resources needed to sustain current lifestyles</li>
            </ul>
            <h4>Water</h4>
            <ul>
                <li>Less than 3 per cent of the world’s water is fresh (drinkable), of which 2.5 per cent is frozen in the Antarctica, Arctic and glaciers. Humanity must therefore rely on 0.5 per cent for all of man’s ecosystem’s and fresh water needs.</li>
                <li>Man is polluting water faster than nature can recycle and purify water in rivers and lakes.</li>
                <li>More than 1 billion people still do not have access to fresh water.</li>
                <li>Excessive use of water contributes to the global water stress.</li>
                <li>Water is free from nature but the infrastructure needed to deliver it is expensive.</li>
            </ul>
            <h4>Energy</h4>
            <ul>
                <li>Despite technological advances that have promoted energy efficiency gains, energy use in OECD countries will continue to grow another 35 per cent by 2020. Commercial and residential energy use is the second most rapidly growing area of global energy use after transport.</li>
                <li>In 2002 the motor vehicle stock in OECD countries was 550 million vehicles (75 per cent of which were personal cars). A 32 per cent increase in vehicle ownership is expected by 2020. At the same time, motor vehicle kilometres are projected to increase by 40 per cent and global air travel is projected to triple in the same period.</li>
                <li>Households consume 29 per cent of global energy and consequently contribute to 21 per cent of resultant CO2 emissions.</li>
                <li>One-fifth of the world’s final energy consumption in 2013 was from renewables.</li>
            </ul>
            <h4>Food</h4>
            <ul>
                <li>While substantial environmental impacts from food occur in the production phase (agriculture, food processing), households influence these impacts through their dietary choices and habits. This consequently affects the environment through food-related energy consumption and waste generation.</li>
                <li>1.3 billion tonnes of food is wasted every year while almost 1 billion people go undernourished and another 1 billion hungry.</li>
                <li>Overconsumption of food is detrimental to our health and the environment.</li>
                <li>2 billion people globally are overweight or obese.</li>
                <li>Land degradation, declining soil fertility, unsustainable water use, overfishing and marine environment degradation are all lessening the ability of the natural resource base to supply food.</li>
                <li>The food sector accounts for around 30 per cent of the world’s total energy consumption and accounts for around 22 per cent of total Greenhouse Gas emissions.</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>Implement the 10-year framework of programmes on sustainable consumption and production, all countries taking action, with developed countries taking the lead, taking into account the development and capabilities of developing countries</li>
                <li>By 2030, achieve the sustainable management and efficient use of natural resources</li>
                <li>By 2030, halve per capita global food waste at the retail and consumer levels and reduce food losses along production and supply chains, including post-harvest losses</li>
                <li>By 2020, achieve the environmentally sound management of chemicals and all wastes throughout their life cycle, in accordance with agreed international frameworks, and significantly reduce their release to air, water and soil in order to minimize their adverse impacts on human health and the environment</li>
                <li>By 2030, substantially reduce waste generation through prevention, reduction, recycling and reuse</li>
                <li>Encourage companies, especially large and transnational companies, to adopt sustainable practices and to integrate sustainability information into their reporting cycle</li>
                <li>Promote public procurement practices that are sustainable, in accordance with national policies and priorities</li>
                <li>By 2030, ensure that people everywhere have the relevant information and awareness for sustainable development and lifestyles in harmony with nature</li>
                <li>Support developing countries to strengthen their scientific and technological capacity to move towards more sustainable patterns of consumption and production</li>
                <li>Develop and implement tools to monitor sustainable development impacts for sustainable tourism that creates jobs and promotes local culture and products</li>
                <li>Rationalize inefficient fossil-fuel subsidies that encourage wasteful consumption by removing market distortions, in accordance with national circumstances, including by restructuring taxation and phasing out those harmful subsidies, where they exist, to reflect their environmental impacts, taking fully into account the specific needs and conditions of developing countries and minimizing the possible adverse impacts on their development in a manner that protects the poor and the affected communities</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Number of countries with sustainable consumption and production (SCP) national action plans or SCP mainstreamed as a priority or a target into national policies</li>
                <li>Material footprint, material footprint per capita, and material footprint per GDP</li>
                <li>Domestic material consumption, domestic material consumption per capita, and domestic material consumption per GDP</li>
                <li>Global food loss index</li>
                <li>Number of parties to international multilateral environmental agreements on hazardous waste, and other chemicals that meet their commitments and obligations in transmitting information as required by each relevant agreement</li>
                <li>Hazardous waste generated per capita and proportion of hazardous waste treated, by type of treatment</li>
                <li>National recycling rate, tons of material recycled</li>
                <li>Number of companies publishing sustainability reports</li>
                <li>Number of countries implementing sustainable public procurement policies and action plans</li>
                <li>Extent to which (i) global citizenship education and (ii) education for sustainable development (including climate change education) are mainstreamed in (a) national education policies; (b) curricula; (c) teacher education; and (d) student assessment</li>
                <li>Amount of support to developing countries on research and development for sustainable consumption and production and environmentally sound technologies</li>
                <li>Number of sustainable tourism strategies or policies and implemented action plans with agreed monitoring and evaluation tools</li>
                <li>Amount of fossil-fuel subsidies per unit of GDP (production and consumption) and as a proportion of total national expenditure on fossil fuels</li>
            </ul>
        </div>
    </div>
</div>
