<div style="background-color:#FBC312">
    <a href="~/AdminFiles/SDGPdf/7_CleanEnergy.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/7.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Ensure access to affordable, reliable, sustainable and modern energy for all
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>Energy is central to nearly every major challenge and opportunity the world faces today. Be it for jobs, security, climate change, food production or increasing incomes, access to energy for all is essential.</p>
        <p>Sustainable energy is opportunity – it transforms lives, economies and the planet.</p>
        <p>UN Secretary-General Ban Ki-moon is leading a Sustainable Energy for All initiative to ensure universal access to modern energy services, improve efficiency and increase use of renewable sources.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>One in five people still lacks access to modern electricity</li>
                <li>3 billion people rely on wood, coal, charcoal or animal waste for cooking and heating</li>
                <li>Energy is the dominant contributor to climate change, accounting for around 60 per cent of total global greenhouse gas emissions</li>
                <li>Reducing the carbon intensity of energy is a key objective in long-term climate goals.</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>By 2030, ensure universal access to affordable, reliable and modern energy services</li>
                <li>By 2030, increase substantially the share of renewable energy in the global energy mix</li>
                <li>By 2030, double the global rate of improvement in energy efficiency</li>
                <li>By 2030, enhance international cooperation to facilitate access to clean energy research and technology, including renewable energy, energy efficiency and advanced and cleaner fossil-fuel technology, and promote investment in energy infrastructure and clean energy technology</li>
                <li>By 2030, expand infrastructure and upgrade technology for supplying modern and sustainable energy services for all in developing countries, in particular least developed countries, small island developing States, and land-locked developing countries, in accordance with their respective programmes of support</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Proportion of population with access to electricity</li>
                <li>Proportion of population with primary reliance on clean fuels and technology</li>
                <li>Renewable energy share in the total final energy consumption</li>
                <li>Energy intensity measured in terms of primary energy and GDP</li>
                <li>International financial flows to developing countries in support of clean energy research and development and renewable energy production, including in hybrid systems</li>
                <li>Investments in energy efficiency as a proportion of GDP and the amount of foreign direct investment in financial transfer for infrastructure and technology to sustainable development services</li>
            </ul>
        </div>
    </div>
</div>
