<div style="background-color:#FB9D23">
    <a href="~/AdminFiles/SDGPdf/11_Cities.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/11.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Make cities inclusive, safe, resilient and sustainable
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>The United Nations Conference on Housing and Sustainable Urban Development, took place in Quito, Ecuador from 17-20 October 2016, and was the first UN global summit on urbanization since the adoption of the 2030 Agenda for Sustainable Development.</p>
        <p>Habitat III offered a unique opportunity to discuss the important challenges of how cities, towns, and village can be planned and managed, in order to fulfill their role as drivers of sustainable development, and how they can shape the implementation of the Sustainable Development Goals and the Paris Agreement on climate change.</p>
        <p>In Quito, world leaders adopted the New Urban Agenda which set global standards of achievement in sustainable urban development, rethinking the way we build, manage, and live in cities through drawing together cooperation with committed partners, relevant stakeholders, and urban actors at all levels of government as well as the civil society and private sector.</p>
        <p>Cities are hubs for ideas, commerce, culture, science, productivity, social development and much more. At their best, cities have enabled people to advance socially and economically.</p>
        <p>However, many challenges exist to maintaining cities in a way that continues to create jobs and prosperity while not straining land and resources. Common urban challenges include congestion, lack of funds to provide basic services, a shortage of adequate housing and declining infrastructure.</p>
        <p>The challenges cities face can be overcome in ways that allow them to continue to thrive and grow, while improving resource use and reducing pollution and poverty. The future we want includes cities of opportunities for all, with access to basic services, energy, housing, transportation and more.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Half of humanity – 3.5 billion people – lives in cities today</li>
                <li>By 2030, almost 60 per cent of the world’s population will live in urban areas</li>
                <li>95 per cent of urban expansion in the next decades will take place in developing world</li>
                <li>828 million people live in slums today and the number keeps rising</li>
                <li>The world’s cities occupy just 3 per cent of the Earth’s land, but account for 60-80 per cent of energy consumption and 75 per cent of carbon emissions</li>
                <li>Rapid urbanization is exerting pressure on fresh water supplies, sewage, the living environment, and public health</li>
                <li>But the high density of cities can bring efficiency gains and technological innovation while reducing resource and energy consumption</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>By 2030, ensure access for all to adequate, safe and affordable housing and basic services and upgrade slums</li>
                <li>By 2030, provide access to safe, affordable, accessible and sustainable transport systems for all, improving road safety, notably by expanding public transport, with special attention to the needs of those in vulnerable situations, women, children, persons with disabilities and older persons</li>
                <li>By 2030, enhance inclusive and sustainable urbanization and capacity for participatory, integrated and sustainable human settlement planning and management in all countries</li>
                <li>Strengthen efforts to protect and safeguard the world’s cultural and natural heritage</li>
                <li>By 2030, significantly reduce the number of deaths and the number of people affected and substantially decrease the direct economic losses relative to global gross domestic product caused by disasters, including water-related disasters, with a focus on protecting the poor and people in vulnerable situations</li>
                <li>By 2030, reduce the adverse per capita environmental impact of cities, including by paying special attention to air quality and municipal and other waste management</li>
                <li>By 2030, provide universal access to safe, inclusive and accessible, green and public spaces, in particular for women and children, older persons and persons with disabilities</li>
                <li>Support positive economic, social and environmental links between urban, peri-urban and rural areas by strengthening national and regional development planning</li>
                <li>By 2020, substantially increase the number of cities and human settlements adopting and implementing integrated policies and plans towards inclusion, resource efficiency, mitigation and adaptation to climate change, resilience to disasters, and develop and implement, in line with the Sendai Framework for Disaster Risk Reduction 2015-2030, holistic disaster risk management at all levels</li>
                <li>Support least developed countries, including through financial and technical assistance, in building sustainable and resilient buildings utilizing local materials</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Proportion of urban population living in slums, informal settlements or inadequate housing</li>
                <li>Proportion of population that has convenient access to public transport, by sex, age and persons with disabilities</li>
                <li>Ratio of land consumption rate to population growth rate</li>
                <li>Proportion of cities with a direct participation structure of civil society in urban planning and management that operate regularly and democratically</li>
                <li>Total expenditure (public and private) per capita spent on the preservation, protection and conservation of all cultural and natural heritage, by type of heritage (cultural, natural, mixed and World Heritage Centre designation), level of government (national, regional and local/municipal), type of expenditure (operating expenditure/investment) and type of private funding (donations in kind, private non-profit sector and sponsorship)</li>
                <li>Number of deaths, missing persons and directly affected persons attributed to disasters per 100,000 population</li>
                <li>Direct economic loss in relation to global GDP, damage to critical infrastructure and number of disruptions to basic services, attributed to disasters</li>
                <li>Proportion of urban solid waste regularly collected and with adequate final discharge out of total urban solid waste generated, by cities</li>
                <li>Annual mean levels of fine particulate matter (e.g. PM2.5 and PM10) in cities (population weighted)</li>
                <li>Average share of the built-up area of cities that is open space for public use for all, by sex, age and persons with disabilities</li>
                <li>Proportion of persons victim of physical or sexual harassment, by sex, age, disability status and place of occurrence, in the previous 12 months</li>
                <li>Proportion of population living in cities that implement urban and regional development plans integrating population projections and resource needs, by size of city</li>
                <li>Number of countries that adopt and implement national disaster risk reduction strategies in line with the Sendai Framework for Disaster Risk Reduction 2015-2030</li>
                <li>Proportion of local governments that adopt and implement local disaster risk reduction strategies in line with national disaster risk reduction strategies</li>
                <li>Proportion of financial support to the least developed countries that is allocated to the construction and retrofitting of sustainable, resilient and resource-efficient buildings utilizing local materials</li>
            </ul>
        </div>
    </div>
</div>
