<div style="background-color:#14699F">
    <a href="~/AdminFiles/SDGPdf/16_Peace.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/16.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Promote just, peaceful and inclusive societies
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>Goal 16 of the Sustainable Development Goals is dedicated to the promotion of peaceful and inclusive societies for sustainable development, the provision of access to justice for all, and building effective, accountable institutions at all levels.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Among the institutions most affected by corruption are the judiciary and police</li>
                <li>Corruption, bribery, theft and tax evasion cost some US $1.26 trillion for developing countries per year; this amount of money could be used to lift those who are living on less than $1.25 a day above $1.25 for at least six years</li>
                <li>The rate of children leaving primary school in conflict affected countries reached 50 per cent in 2011, which accounts to 28.5 million children, showing the impact of unstable societies on one of the major goals of the post 2015 agenda: education.</li>
                <li>The rule of law and development have a significant interrelation and are mutually reinforcing, making it essential for sustainable development at the national and international level</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>Significantly reduce all forms of violence and related death rates everywhere</li>
                <li>End abuse, exploitation, trafficking and all forms of violence against and torture of children</li>
                <li>Promote the rule of law at the national and international levels and ensure equal access to justice for all</li>
                <li>By 2030, significantly reduce illicit financial and arms flows, strengthen the recovery and return of stolen assets and combat all forms of organized crime</li>
                <li>Substantially reduce corruption and bribery in all their forms</li>
                <li>Develop effective, accountable and transparent institutions at all levels</li>
                <li>Ensure responsive, inclusive, participatory and representative decision-making at all levels</li>
                <li>Broaden and strengthen the participation of developing countries in the institutions of global governance</li>
                <li>By 2030, provide legal identity for all, including birth registration</li>
                <li>Ensure public access to information and protect fundamental freedoms, in accordance with national legislation and international agreements</li>
                <li>Strengthen relevant national institutions, including through international cooperation, for building capacity at all levels, in particular in developing countries, to prevent violence and combat terrorism and crime</li>
                <li>Promote and enforce non-discriminatory laws and policies for sustainable development</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Number of victims of intentional homicide per 100,000 population, by sex and age</li>
                <li>Conflict-related deaths per 100,000 population, by sex, age and cause</li>
                <li>Proportion of population subjected to physical, psychological or sexual violence in the previous 12 months</li>
                <li>Proportion of population that feel safe walking alone around the area they live</li>
                <li>Proportion of children aged 1-17 years who experienced any physical punishment and/or psychological aggression by caregivers in the past month</li>
                <li>Number of victims of human trafficking per 100,000 population, by sex, age and form of exploitation</li>
                <li>Proportion of young women and men aged 18‑29 years who experienced sexual violence by age 18</li>
                <li>Proportion of victims of violence in the previous 12 months who reported their victimization to competent authorities or other officially recognized conflict resolution mechanisms</li>
                <li>Unsentenced detainees as a proportion of overall prison population</li>
                <li>Total value of inward and outward illicit financial flows (in current United States dollars)</li>
                <li>Proportion of seized, found or surrendered arms whose illicit origin or context has been traced or established by a competent authority in line with international instruments</li>
                <li>Proportion of persons who had at least one contact with a public official and who paid a bribe to a public official, or were asked for a bribe by those public officials, during the previous 12 months</li>
                <li>Proportion of businesses that had at least one contact with a public official and that paid a bribe to a public official, or were asked for a bribe by those public officials during the previous 12 months</li>
                <li>Primary government expenditures as a proportion of original approved budget, by sector (or by budget codes or similar)</li>
                <li>Proportion of population satisfied with their last experience of public services</li>
                <li>Proportions of positions (by sex, age, persons with disabilities and population groups) in public institutions (national and local legislatures, public service, and judiciary) compared to national distributions</li>
                <li>Proportion of population who believe decision-making is inclusive and responsive, by sex, age, disability and population group</li>
                <li>Proportion of members and voting rights of developing countries in international organizations</li>
                <li>Proportion of children under 5 years of age whose births have been registered with a civil authority, by age</li>
                <li>Number of verified cases of killing, kidnapping, enforced disappearance, arbitrary detention and torture of journalists, associated media personnel, trade unionists and human rights advocates in the previous 12 months</li>
                <li>Number of countries that adopt and implement constitutional, statutory and/or policy guarantees for public access to information</li>
                <li>Existence of independent national human rights institutions in compliance with the Paris Principles</li>
                <li>Proportion of population reporting having personally felt discriminated against or harassed in the previous 12 months on the basis of a ground of discrimination prohibited under international human rights law</li>
            </ul>
        </div>
    </div>
</div>
