<div style="background-color:#56C02A">
    <a href="~/AdminFiles/SDGPdf/15_Life-on-Land.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/15.jpg" /></span>
    <h2 class="no-margin" style="display:inline-block;color:#fff; margin-left:20px;width:70%; padding-top:10px">
        Sustainably manage forests, combat desertification, halt and reserve land degradation, halt biodiversity loss
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>Forests cover 30 per cent of the Earth’s surface and in addition to providing food security and shelter, forests are key to combating climate change, protecting biodiversity and the homes of the indigenous population.  Thirteen million hectares of forests are being lost every year while the persistent degradation of drylands has led to the desertification of 3.6 billion hectares.</p>
        <p>Deforestation and desertification – caused by human activities and climate change – pose major challenges to sustainable development and have affected the lives and livelihoods of millions of people in the fight against poverty. Efforts are being made to manage forests and combat desertification.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <h4>Forests</h4>
            <ul>
                <li>Around 1.6 billion people depend on forests for their livelihood. This includes some 70 million indigenous people</li>
                <li>Forests are home to more than 80 per cent of all terrestrial species of animals, plants and insects</li>
            </ul>
            <h4>Desertification</h4>
            <ul>
                <li>2.6 billion people depend directly on agriculture, but 52 per cent of the land used for agriculture is moderately or severely affected by soil degradation</li>
                <li>As of 2008, land degradation affected 1.5 billion people globally</li>
                <li>Arable land loss is estimated at 30 to 35 times the historical rate</li>
                <li>Due to drought and desertification each year 12 million hectares are lost (23 hectares per minute), where 20 million tons of grain could have been grown</li>
                <li>74 per cent of the poor are directly affected by land degradation globally</li>
            </ul>
            <h4>Biodiversity</h4>
            <ul>
                <li>Of the 8,300 animal breeds known, 8 per cent are extinct and 22 per cent are at risk of extinction</li>
                <li>Of the over 80,000 tree species, less than 1 per cent have been studied for potential use</li>
                <li>Fish provide 20 per cent of animal protein to about 3 billion people. Only ten species provide about 30 per cent of marine capture fisheries and ten species provide about 50 per cent of aquaculture production</li>
                <li>Over 80 per cent of the human diet is provided by plants. Only three cereal crops – rice, maize and wheat – provide 60 per cent of energy intake</li>
                <li>As many as 80 per cent of people living in rural areas in developing countries rely on traditional plant-­‐based medicines for basic healthcare</li>
                <li>Micro-organisms and invertebrates are key to ecosystem services, but their contributions are still poorly known and rarely acknowledged</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>By 2020, ensure the conservation, restoration and sustainable use of terrestrial and inland freshwater ecosystems and their services, in particular forests, wetlands, mountains and drylands, in line with obligations under international agreements</li>
                <li>By 2020, promote the implementation of sustainable management of all types of forests, halt deforestation, restore degraded forests and substantially increase afforestation and reforestation globally</li>
                <li>By 2030, combat desertification, restore degraded land and soil, including land affected by desertification, drought and floods, and strive to achieve a land degradation-neutral world</li>
                <li>By 2030, ensure the conservation of mountain ecosystems, including their biodiversity, in order to enhance their capacity to provide benefits that are essential for sustainable development</li>
                <li>Take urgent and significant action to reduce the degradation of natural habitats, halt the loss of biodiversity and, by 2020, protect and prevent the extinction of threatened species</li>
                <li>Promote fair and equitable sharing of the benefits arising from the utilization of genetic resources and promote appropriate access to such resources, as internationally agreed</li>
                <li>Take urgent action to end poaching and trafficking of protected species of flora and fauna and address both demand and supply of illegal wildlife products</li>
                <li>By 2020, introduce measures to prevent the introduction and significantly reduce the impact of invasive alien species on land and water ecosystems and control or eradicate the priority species</li>
                <li>By 2020, integrate ecosystem and biodiversity values into national and local planning, development processes, poverty reduction strategies and accounts</li>
                <li>Mobilize and significantly increase financial resources from all sources to conserve and sustainably use biodiversity and ecosystems</li>
                <li>Mobilize significant resources from all sources and at all levels to finance sustainable forest management and provide adequate incentives to developing countries to advance such management, including for conservation and reforestation</li>
                <li>Enhance global support for efforts to combat poaching and trafficking of protected species, including by increasing the capacity of local communities to pursue sustainable livelihood opportunities</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Forest area as a proportion of total land area</li>
                <li>Proportion of important sites for terrestrial and freshwater biodiversity that are covered by protected areas, by ecosystem type</li>
                <li>Progress towards sustainable forest management</li>
                <li>Proportion of land that is degraded over total land area</li>
                <li>Coverage by protected areas of important sites for mountain biodiversity</li>
                <li>Mountain Green Cover Index</li>
                <li>Red List Index</li>
                <li>Number of countries that have adopted legislative, administrative and policy frameworks to ensure fair and equitable sharing of benefits</li>
                <li>Proportion of traded wildlife that was poached or illicitly trafficked</li>
                <li>Proportion of countries adopting relevant national legislation and adequately resourcing the prevention or control of invasive alien species</li>
                <li>Progress towards national targets established in accordance with Aichi Biodiversity Target 2 of the Strategic Plan for Biodiversity 2011-2020</li>
                <li>Official development assistance and public expenditure on conservation and sustainable use of biodiversity and ecosystems</li>
                <li>Official development assistance and public expenditure on conservation and sustainable use of biodiversity and ecosystems</li>
                <li>Proportion of traded wildlife that was poached or illicitly trafficked</li>
            </ul>
        </div>
    </div>
</div>
