<div style="background-color:#18466A">
    <a href="~/AdminFiles/SDGPdf/17_Partnerships.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/17.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Revitalize the global partnerships for sustainable development
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>A successful sustainable development agenda requires partnerships between governments, the private sector and civil society. These inclusive partnerships built upon principles and values, a shared vision, and shared goals that place people and the planet at the centre, are needed at the global, regional, national and local level.</p>
        <p>Urgent action is needed to mobilize, redirect and unlock the transformative power of trillions of dollars of private resources to deliver on sustainable development objectives. Long-term investments, including foreign direct investment, are needed in critical sectors, especially in developing countries. These include sustainable energy, infrastructure and transport, as well as information and communications technologies. The public sector will need to set a clear direction. Review and monitoring frameworks, regulations and incentive structures that enable such investments must be retooled to attract investments and reinforce sustainable development. National oversight mechanisms such as supreme audit institutions and oversight functions by legislatures should be strengthened.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Official development assistance stood at $135.2 billion in 2014, the highest level ever recorded</li>
                <li>79 per cent of imports from developing countries enter developed countries duty-free</li>
                <li>The debt burden on developing countries remains stable at about 3 per cent of export revenue</li>
                <li>The number of Internet users in Africa almost doubled in the past four years</li>
                <li>30 per cent of the world’s youth are digital natives, active online for at least five years</li>
                <li>But more four billion people do not use the Internet, and 90 per cent of them are from the developing world</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <h4>Finance</h4>
            <ul>
                <li>Strengthen domestic resource mobilization, including through international support to developing countries, to improve domestic capacity for tax and other revenue collection</li>
                <li>Developed countries to implement fully their official development assistance commitments, including the commitment by many developed countries to achieve the target of 0.7 per cent of ODA/GNI to developing countries and 0.15 to 0.20 per cent of ODA/GNI to least developed countries ODA providers are encouraged to consider setting a target to provide at least 0.20 per cent of ODA/GNI to least developed countries</li>
                <li>Mobilize additional financial resources for developing countries from multiple sources</li>
                <li>Assist developing countries in attaining long-term debt sustainability through coordinated policies aimed at fostering debt financing, debt relief and debt restructuring, as appropriate, and address the external debt of highly indebted poor countries to reduce debt distress</li>
                <li>Adopt and implement investment promotion regimes for least developed countries</li>
            </ul>
            <h4>Technology</h4>
            <ul>
                <li>Enhance North-South, South-South and triangular regional and international cooperation on and access to science, technology and innovation and enhance knowledge sharing on mutually agreed terms, including through improved coordination among existing mechanisms, in particular at the United Nations level, and through a global technology facilitation mechanism</li>
                <li>Promote the development, transfer, dissemination and diffusion of environmentally sound technologies to developing countries on favourable terms, including on concessional and preferential terms, as mutually agreed</li>
                <li>Fully operationalize the technology bank and science, technology and innovation capacity-building mechanism for least developed countries by 2017 and enhance the use of enabling technology, in particular information and communications technology</li>
            </ul>
            <h4>Capacity Building</h4>
            <ul>
                <li>Enhance international support for implementing effective and targeted capacity-building in developing countries to support national plans to implement all the sustainable development goals, including through North-South, South-South and triangular cooperation</li>
            </ul>
            <h4>Trade</h4>
            <ul>
                <li>Promote a universal, rules-based, open, non-discriminatory and equitable multilateral trading system under the World Trade Organization, including through the conclusion of negotiations under its Doha Development Agenda</li>
                <li>Significantly increase the exports of developing countries, in particular with a view to doubling the least developed countries’ share of global exports by 2020</li>
                <li>Realize timely implementation of duty-free and quota-free market access on a lasting basis for all least developed countries, consistent with World Trade Organization decisions, including by ensuring that preferential rules of origin applicable to imports from least developed countries are transparent and simple, and contribute to facilitating market access</li>
            </ul>
            <h4>Systemic issues</h4>
            <i>Policy and institutional coherence</i>
            <ul>
                <li>Enhance global macroeconomic stability, including through policy coordination and policy coherence</li>
                <li>Enhance policy coherence for sustainable development</li>
                <li>Respect each country’s policy space and leadership to establish and implement policies for poverty eradication and sustainable development</li>
            </ul>
            <i>Multi-stakeholder partnerships</i>
            <ul>
                <li>Enhance the global partnership for sustainable development, complemented by multi-stakeholder partnerships that mobilize and share knowledge, expertise, technology and financial resources, to support the achievement of the sustainable development goals in all countries, in particular developing countries</li>
                <li>Encourage and promote effective public, public-private and civil society partnerships, building on the experience and resourcing strategies of partnerships</li>
            </ul>
            <i>Data, monitoring and accountability</i>
            <ul>
                <li>By 2020, enhance capacity-building support to developing countries, including for least developed countries and small island developing States, to increase significantly the availability of high-quality, timely and reliable data disaggregated by income, gender, age, race, ethnicity, migratory status, disability, geographic location and other characteristics relevant in national contexts</li>
                <li>By 2030, build on existing initiatives to develop measurements of progress on sustainable development that complement gross domestic product, and support statistical capacity-building in developing countries</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Total government revenue as a proportion of GDP, by source</li>
                <li>Proportion of domestic budget funded by domestic taxes</li>
                <li>Net official development assistance, total and to least developed countries, as a proportion of the Organization for Economic Cooperation and Development (OECD) Development Assistance Committee donors’ gross national income (GNI)</li>
                <li>Foreign direct investments (FDI), official development assistance and South-South Cooperation as a proportion of total domestic budget</li>
                <li>Volume of remittances (in United States dollars) as a proportion of total GDP</li>
                <li>Debt service as a proportion of exports of goods and services</li>
                <li>Number of countries that adopt and implement investment promotion regimes for least developed countries</li>
                <li>Number of science and/or technology cooperation agreements and programmes between countries, by type of cooperation</li>
                <li>Fixed Internet broadband subscriptions per 100 inhabitants, by speed</li>
                <li>Total amount of approved funding for developing countries to promote the development, transfer, dissemination and diffusion of environmentally sound technologies</li>
                <li>Proportion of individuals using the Internet</li>
                <li>Dollar value of financial and technical assistance (including through North-South, South-South and triangular cooperation) committed to developing countries</li>
                <li>Worldwide weighted tariff-average</li>
                <li>Developing countries’ and least developed countries’ share of global exports</li>
                <li>Average tariffs faced by developing countries, least developed countries and small island developing States</li>
                <li>Macroeconomic Dashboard</li>
                <li>Number of countries with mechanisms in place to enhance policy coherence of sustainable development</li>
                <li>Extent of use of country-owned results frameworks and planning tools by providers of development cooperation</li>
                <li>Number of countries reporting progress in multi-stakeholder development effectiveness monitoring frameworks that support the achievement of the sustainable development goals</li>
                <li>Amount of United States dollars committed to public-private and civil society partnerships</li>
                <li>Proportion of sustainable development indicators produced at the national level with full disaggregation when relevant to the target, in accordance with the Fundamental Principles of Official Statistics</li>
                <li>Number of countries that have national statistical legislation that complies with the Fundamental Principles of Official Statistics</li>
                <li>Number of countries with a national statistical plan that is fully funded and under implementation, by source of funding</li>
                <li>Dollar value of all resources made available to strengthen statistical capacity in developing countries</li>
                <li>Proportion of countries that (a) have conducted at least one population and housing census in the last 10 years; and (b) have achieved 100 per cent birth registration and 80 per cent death registration</li>
            </ul>
        </div>
    </div>
</div>
