<div style="background-color:#C5182C">
    <a href="~/AdminFiles/SDGPdf/4_QualityEducation.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/4.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Ensure inclusive and quality education for all and promote lifelong learning
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>Obtaining a quality education is the foundation to improving people’s lives and sustainable development. Major progress has been made towards increasing access to education at all levels and increasing enrolment rates in schools particularly for women and girls. Basic literacy skills have improved tremendously, yet bolder efforts are needed to make even greater strides for achieving universal education goals. For example, the world has achieved equality in primary education between girls and boys, but few countries have achieved that target at all levels of education.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Enrolment in primary education in developing countries has reached 91 per cent but 57 million children remain out of school</li>
                <li>More than half of children that have not enrolled in school live in sub-Saharan Africa</li>
                <li>An estimated 50 per cent of out-of-school children of primary school age live in conflict-affected areas</li>
                <li>103 million youth worldwide lack basic literacy skills, and more than 60 per cent of them are women</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>By 2030, ensure that all girls and boys complete free, equitable and quality primary and secondary education leading to relevant and Goal-6 effective learning outcomes</li>
                <li>By 2030, ensure that all girls and boys have access to quality early childhood development, care and preprimary education so that they are ready for primary education</li>
                <li>By 2030, ensure equal access for all women and men to affordable and quality technical, vocational and tertiary education, including university</li>
                <li>By 2030, substantially increase the number of youth and adults who have relevant skills, including technical and vocational skills, for employment, decent jobs and entrepreneurship</li>
                <li>By 2030, eliminate gender disparities in education and ensure equal access to all levels of education and vocational training for the vulnerable, including persons with disabilities, indigenous peoples and children in vulnerable situations</li>
                <li>By 2030, ensure that all youth and a substantial proportion of adults, both men and women, achieve literacy and numeracy</li>
                <li>By 2030, ensure that all learners acquire the knowledge and skills needed to promote sustainable development, including, among others, through education for sustainable development and sustainable lifestyles, human rights, gender equality, promotion of a culture of peace and non-violence, global citizenship and appreciation of cultural diversity and of culture’s contribution to sustainable development</li>
                <li>Build and upgrade education facilities that are child, disability and gender sensitive and provide safe, nonviolent, inclusive and effective learning environments for all</li>
                <li>By 2020, substantially expand globally the number of scholarships available to developing countries, in particular least developed countries, small island developing States and African countries, for enrolment in higher education, including vocational training and information and communications technology, technical, engineering and scientific programmes, in developed countries and other developing countries</li>
                <li>By 2030, substantially increase the supply of qualified teachers, including through international cooperation for teacher training in developing countries, especially least developed countries and small island developing states</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Proportion of children and young people: (a) in grades 2/3; (b) at the end of primary; and (c) at the end of lower secondary achieving at least a minimum proficiency level in (i) reading and (ii) mathematics, by sex</li>
                <li>Proportion of children under 5 years of age who are developmentally on track in health, learning and psychosocial well-being, by sex</li>
                <li>Participation rate in organized learning (one year before the official primary entry age), by sex</li>
                <li>Participation rate of youth and adults in formal and non-formal education and training in the previous 12 months, by sex</li>
                <li>Proportion of youth and adults with information and communications technology (ICT) skills, by type of skill</li>
                <li>Parity indices (female/male, rural/urban, bottom/top wealth quintile and others such as disability status, indigenous peoples and conflict-affected, as data become available) for all education indicators on this list that can be disaggregated</li>
                <li>Proportion of population in a given age group achieving at least a fixed level of proficiency in functional (a) literacy and (b) numeracy skills, by sex</li>
                <li>Extent to which (i) global citizenship education and (ii) education for sustainable development, including gender equality and human rights, are mainstreamed at all levels in: (a) national education policies; (b) curricula; (c) teacher education; and (d) student assessment</li>
                <li>Proportion of schools with access to: (a) electricity; (b) the Internet for pedagogical purposes; (c) computers for pedagogical purposes; (d) adapted infrastructure and materials for students with disabilities; (e) basic drinking water; (f) single-sex basic sanitation facilities; and (g) basic handwashing facilities (as per the WASH indicator definitions)</li>
                <li>Volume of official development assistance flows for scholarships by sector and type of study</li>
                <li>Proportion of teachers in: (a) pre-primary; (b) primary; (c) lower secondary; and (d) upper secondary education who have received at least the minimum organized teacher training (e.g. pedagogical training) pre-service or in-service required for teaching at the relevant level in a given country</li>
            </ul>
        </div>
    </div>
</div>
