<div style="background-color:#DCA63A">
    <a href="~/AdminFiles/SDGPdf/Zero-Hunger.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <img src="~/images/SDGs/goals-icon/2.jpg" />
    <h2 class="no-margin" style="display:inline-block;color:#fff; margin-left:20px;width:70%; padding-top:10px">End hunger, achieve food security and improved nutrition and promote sustainable agriculture</h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-30 m-b-30 f-16">
        <p>
            It is time to rethink how we grow, share and consume our food.
        </p>
        <p>
            If done right, agriculture, forestry and fisheries can provide nutritious food for all and generate decent incomes,
            while supporting people-centred rural development and protecting the environment.
        </p>
        <p>
            Right now, our soils, freshwater, oceans, forests and biodiversity are being rapidly degraded.
            Climate change is putting even more pressure on the resources we depend on, increasing risks associated with disasters
            such as droughts and floods. Many rural
            women and men can no longer make ends meet on their land, forcing them to migrate to cities in search of opportunities.
        </p>
        <p>
            A profound change of the global food and agriculture system is needed if
            we are to nourish today’s 795 million hungry and the additional 2 billion people expected by 2050.
        </p>
        <p>
            The food and agriculture sector offers key solutions for development, and is central for hunger and poverty eradication.
        </p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <h4>Hunger</h4>
            <ul>
                <li>Globally, one in nine people in the world today (795 million) are undernourished</li>
                <li>The vast majority of the world’s hungry people live in developing countries, where 12.9 per cent of the population is undernourished.</li>
                <li>Asia is the continent with the most hungry people – two thirds of the total. The percentage in southern Asia has fallen in recent years but in western Asia it has increased slightly.</li>
                <li>Southern Asia faces the greatest hunger burden, with about 281 million undernourished people. In sub-Saharan Africa, projections for the 2014-2016 period indicate a rate of undernourishment of almost 23 per cent.</li>
                <li>Poor nutrition causes nearly half (45 per cent) of deaths in children under five – 3.1 million children each year.</li>
                <li>One in four of the world’s children suffer stunted growth. In developing countries the proportion can rise to one in three.</li>
                <li>66 million primary school-age children attend classes hungry across the developing world, with 23 million in Africa alone.</li>
            </ul>
            <h4>Food security</h4>
            <ul>
                <li>Agriculture is the single largest employer in the world, providing livelihoods for 40 per cent of today’s global population. It is the largest source of income and jobs for poor rural households.</li>
                <li>500 million small farms worldwide, most still rainfed, provide up to 80 per cent of food consumed in a large part of the developing world. Investing in smallholder women and men is an important way to increase food security and nutrition for the poorest, as well as food production for local and global markets.</li>
                <li>Since the 1900s, some 75 per cent of crop diversity has been lost from farmers’ fields. Better use of agricultural biodiversity can contribute to more nutritious diets, enhanced livelihoods for farming communities and more resilient and sustainable farming systems.</li>
                <li>If women farmers had the same access to resources as men, the number of hungry in the world could be reduced by up to 150 million.</li>
                <li>1.4 billion people have no access to electricity worldwide – most of whom live in rural areas of the developing world. Energy poverty in many regions is a fundamental barrier to reducing hunger and ensuring that the world can produce enough food to meet future demand.</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>By 2030, end hunger and ensure access by all people, in particular the poor and people in vulnerable situations, including infants, to safe, nutritious and sufficient food all year round</li>
                <li>By 2030, end all forms of malnutrition, including achieving, by 2025, the internationally agreed targets on stunting and wasting in children under 5 years of age, and address the nutritional needs of adolescent girls, pregnant and lactating women and older persons</li>
                <li>By 2030, double the agricultural productivity and incomes of small-scale food producers, in particular women, indigenous peoples, family farmers, pastoralists and fishers, including through secure and equal access to land, other productive resources and inputs, knowledge, financial services, markets and opportunities for value addition and non-farm employment</li>
                <li>By 2030, ensure sustainable food production systems and implement resilient agricultural practices that increase productivity and production, that help maintain ecosystems, that strengthen capacity for adaptation to climate change, extreme weather, drought, flooding and other disasters and that progressively improve land and soil quality</li>
                <li>By 2020, maintain the genetic diversity of seeds, cultivated plants and farmed and domesticated animals and their related wild species, including through soundly managed and diversified seed and plant banks at the national, regional and international levels, and promote access to and fair and equitable sharing of benefits arising from the utilization of genetic resources and associated traditional knowledge, as internationally agreed</li>
                <li>Increase investment, including through enhanced international cooperation, in rural infrastructure, agricultural research and extension services, technology development and plant and livestock gene banks in order to enhance agricultural productive capacity in developing countries, in particular least developed countries</li>
                <li>Correct and prevent trade restrictions and distortions in world agricultural markets, including through the parallel elimination of all forms of agricultural export subsidies and all export measures with equivalent effect, in accordance with the mandate of the Doha Development Round</li>
                <li>Adopt measures to ensure the proper functioning of food commodity markets and their derivatives and facilitate timely access to market information, including on food reserves, in order to help limit extreme food price volatility</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Prevalence of undernourishment</li>
                <li>Prevalence of moderate or severe food insecurity in the population, based on the Food Insecurity Experience Scale (FIES)</li>
                <li>Prevalence of stunting (height for age <-2 standard deviation from the median of the World Health Organization (WHO) Child Growth Standards) among children under 5 years of age</li>
                <li>Prevalence of malnutrition (weight for height >+2 or <-2 standard deviation from the median of the WHO Child Growth Standards) among children under 5 years of age, by type (wasting and overweight)</li>
                <li>Volume of production per labour unit by classes of farming/pastoral/forestry enterprise size</li>
                <li>Average income of small-scale food producers, by sex and indigenous status</li>
                <li>Proportion of agricultural area under productive and sustainable agriculture</li>
                <li>Number of plant and animal genetic resources for food and agriculture secured in either medium or long-term conservation facilities</li>
                <li>Proportion of local breeds classified as being at risk, not-at-risk or at unknown level of risk of extinction</li>
                <li>The agriculture orientation index for government expenditures</li>
                <li>Total official flows (official development assistance plus other official flows) to the agriculture sector</li>
                <li>Agricultural export subsidies</li>
                <li>Indicator of food price anomalies</li>
            </ul>
        </div>
    </div>
</div>
