<div style="background-color:#FF391F">
    <a href="~/AdminFiles/SDGPdf/5_GenderEquality.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/5.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Achieve gender equality and empower all women and girls
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="m-t-50 m-b-30 f-16">
        <p>While the world has achieved progress towards gender equality  and women’s empowerment under the Millennium Development Goals (including equal access to primary education between girls and boys), women and girls continue to suffer discrimination and violence in every part of the world.</p>
        <p>Gender equality is not only a fundamental human right, but a necessary foundation for a peaceful, prosperous and sustainable world.</p>
        <p>Providing women and girls with equal access to education, health care, decent work, and representation in political and economic decision-making processes will fuel sustainable economies and benefit societies and humanity at large.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>About  two thirds of countries in the developing regions have achieved gender parity in primary education</li>
                <li>In Southern Asia, only 74 girls were enrolled in primary school for every 100 boys in 1990. By 2012, the enrolment ratios were the same for girls as for boys.</li>
                <li>In sub-Saharan Africa, Oceania and Western Asia, girls still face barriers to entering both primary and secondary school.</li>
                <li>Women in Northern Africa hold less than one in five paid jobs in the non-agricultural sector. The proportion of women in paid employment outside the agriculture sector has increased from 35 per cent in 1990 to 41 per cent in 2015</li>
                <li>In 46 countries, women now hold more than 30 per cent of seats in national parliament in at least one chamber.</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade">
            <ul>
                <li>End all forms of discrimination against all women and girls everywhere</li>
                <li>Eliminate all forms of violence against all women and girls in the public and private spheres, including trafficking and sexual and other types of exploitation</li>
                <li>Eliminate all harmful practices, such as child, early and forced marriage and female genital mutilation</li>
                <li>Recognize and value unpaid care and domestic work through the provision of public services, infrastructure and social protection policies and the promotion of shared responsibility within the household and the family as nationally appropriate</li>
                <li>Ensure women’s full and effective participation and equal opportunities for leadership at all levels of decisionmaking in political, economic and public life</li>
                <li>Ensure universal access to sexual and reproductive health and reproductive rights as agreed in accordance with the Programme of Action of the International Conference on Population and Development and the Beijing Platform for Action and the outcome documents of their review conferences</li>
                <li>Undertake reforms to give women equal rights to economic resources, as well as access to ownership and control over land and other forms of property, financial services, inheritance and natural resources, in accordance with national laws</li>
                <li>Enhance the use of enabling technology, in particular information and communications technology, to promote the empowerment of women</li>
                <li>Adopt and strengthen sound policies and enforceable legislation for the promotion of gender equality and the empowerment of all women and girls at all levels</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Whether or not legal frameworks are in place to promote, enforce and monitor equality and non‑discrimination on the basis of sex</li>
                <li>Proportion of ever-partnered women and girls aged 15 years and older subjected to physical, sexual or psychological violence by a current or former intimate partner in the previous 12 months, by form of violence and by age</li>
                <li>Proportion of women and girls aged 15 years and older subjected to sexual violence by persons other than an intimate partner in the previous 12 months, by age and place of occurrence</li>
                <li>Proportion of women aged 20-24 years who were married or in a union before age 15 and before age 18</li>
                <li>Proportion of girls and women aged 15-49 years who have undergone female genital mutilation/cutting, by age</li>
                <li>Proportion of time spent on unpaid domestic and care work, by sex, age and location</li>
                <li>Proportion of seats held by women in (a) national parliaments and (b) local governments</li>
                <li>Proportion of women in managerial positions</li>
                <li>Proportion of women aged 15-49 years who make their own informed decisions regarding sexual relations, contraceptive use and reproductive health care</li>
                <li>Number of countries with laws and regulations that guarantee full and equal access to women and men aged 15 years and older to sexual and reproductive health care, information and education</li>
                <li>(a) Proportion of total agricultural population with ownership or secure rights over agricultural land, by sex; and (b) share of women among owners or rights-bearers of agricultural land, by type of tenure</li>
                <li>Proportion of countries where the legal framework (including customary law) guarantees women’s equal rights to land ownership and/or control</li>
                <li>Proportion of individuals who own a mobile telephone, by sex</li>
                <li>Proportion of countries with systems to track and make public allocations for gender equality and women’s empowerment</li>
            </ul>
        </div>
    </div>
</div>
