<div style="background-color:#0396D8">
    <a href="~/AdminFiles/SDGPdf/14_Life-Below-Water.pdf" class="pull-right btn btn-default" style="margin:15px"><span class="fa fa-download"></span> PDF</a>
    <span><img src="~/images/SDGs/goals-icon/14.jpg" /></span>
    <h2 style="display:inline-block;color:#fff;margin-left:20px">
        Conserve and sustainabily use to oceans, seas and marine resources
    </h2>
</div>
<div class="fg-black text-justify">
    <div class="container-fluid m-t-50 m-b-30 f-16">
        <p>The world’s oceans – their temperature, chemistry, currents and life – drive global systems that make the Earth habitable for humankind.</p>
        <p>Our rainwater, drinking water, weather, climate, coastlines, much of our food, and even the oxygen in the air we breathe, are all ultimately provided and regulated by the sea. Throughout history, oceans and seas have been vital conduits for trade and transportation.</p>
        <p>Careful management of this essential global resource is a key feature of a sustainable future.</p>
    </div>
</div>
<div class="fg-black text-justify">
    <ul class="fg-black f-18 row nav nav-tabs text-center">
        <li class="active col-xs-4"><a data-toggle="tab" href="#facts" class="fg-black">Facts and Figures</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#targets" class="fg-black">Goals and Targets</a></li>
        <li class="col-xs-4"><a data-toggle="tab" href="#indicators" class="fg-black">Indicators</a></li>
    </ul>
    <div class="f-16 tab-content tab-card">
        <div id="facts" class="tab-pane fade in active">
            <ul>
                <li>Oceans cover three quarters of the Earth’s surface, contain 97 per cent of the Earth’s water, and represent 99 per cent of the living space on the planet by volume</li>
                <li>Over three billion people depend on marine and coastal biodiversity for their livelihoods</li>
                <li>Globally, the market value of marine and coastal resources and industries is estimated at $3 trillion per year or about 5 per cent of global GDP</li>
                <li>Oceans contain nearly 200,000 identified species, but actual numbers may lie in the millions</li>
                <li>Oceans absorb about 30 per cent of carbon dioxide produced by humans, buffering the impacts of global warming</li>
                <li>Oceans serve as the world’s largest source of protein, with more than 3 billion people depending on the oceans as their primary source of protein</li>
                <li>Marine fisheries directly or indirectly employ over 200 million people</li>
                <li>Subsidies for fishing are contributing to the rapid depletion of many fish species and are preventing efforts to save and restore global fisheries and related jobs, causing ocean fisheries to generate US$ 50 billion less per year than they could</li>
                <li>As much as 40 percent of the world oceans are heavily affected by human activities, including pollution, depleted fisheries, and loss of coastal habitats</li>
            </ul>
        </div>
        <div id="targets" class="tab-pane fade in active">
            <ul>
                <li>By 2025, prevent and significantly reduce marine pollution of all kinds, in particular from land-based activities, including marine debris and nutrient pollution</li>
                <li>By 2020, sustainably manage and protect marine and coastal ecosystems to avoid significant adverse impacts, including by strengthening their resilience, and take action for their restoration in order to achieve healthy and productive oceans</li>
                <li>Minimize and address the impacts of ocean acidification, including through enhanced scientific cooperation at all levels</li>
                <li>By 2020, effectively regulate harvesting and end overfishing, illegal, unreported and unregulated fishing and destructive fishing practices and implement science-based management plans, in order to restore fish stocks in the shortest time feasible, at least to levels that can produce maximum sustainable yield as determined by their biological characteristics</li>
                <li>By 2020, conserve at least 10 per cent of coastal and marine areas, consistent with national and international law and based on the best available scientific information</li>
                <li>By 2020, prohibit certain forms of fisheries subsidies which contribute to overcapacity and overfishing, eliminate subsidies that contribute to illegal, unreported and unregulated fishing and refrain from introducing new such subsidies, recognizing that appropriate and effective special and differential treatment for developing and least developed countries should be an integral part of the World Trade Organization fisheries subsidies negotiation</li>
                <li>By 2030, increase the economic benefits to Small Island developing States and least developed countries from the sustainable use of marine resources, including through sustainable management of fisheries, aquaculture and tourism</li>
                <li>Increase scientific knowledge, develop research capacity and transfer marine technology, taking into account the Intergovernmental Oceanographic Commission Criteria and Guidelines on the Transfer of Marine Technology, in order to improve ocean health and to enhance the contribution of marine biodiversity to the development of developing countries, in particular small island developing States and least developed countries</li>
                <li>Provide access for small-scale artisanal fishers to marine resources and markets</li>
                <li>Enhance the conservation and sustainable use of oceans and their resources by implementing international law as reflected in UNCLOS, which provides the legal framework for the conservation and sustainable use of oceans and their resources, as recalled in paragraph 158 of The Future We Want</li>
            </ul>
        </div>
        <div id="indicators" class="tab-pane fade">
            <ul>
                <li>Index of coastal eutrophication and floating plastic debris density</li>
                <li>Proportion of national exclusive economic zones managed using ecosystem-based approaches</li>
                <li>Average marine acidity (pH) measured at agreed suite of representative sampling stations</li>
                <li>Proportion of fish stocks within biologically sustainable levels</li>
                <li>Coverage of protected areas in relation to marine areas</li>
                <li>Progress by countries in the degree of implementation of international instruments aiming to combat illegal, unreported and unregulated fishing</li>
                <li>Sustainable fisheries as a proportion of GDP in small island developing States, least developed countries and all countries</li>
                <li>Proportion of total research budget allocated to research in the field of marine technology</li>
                <li>Progress by countries in the degree of application of a legal/regulatory/policy/institutional framework which recognizes and protects access rights for small-scale fisheries</li>
                <li>Number of countries making progress in ratifying, accepting and implementing through legal, policy and institutional frameworks, ocean-related instruments that implement international law, as reflected in the United Nation Convention on the Law of the Sea, for the conservation and sustainable use of the oceans and their resources</li>
            </ul>
        </div>
    </div>
</div>
