@model IEnumerable<Devdiscourse.Models.BasicModels.DevSector>
@if (ViewBag.filter == "AdminPage")
{
    foreach (var item in Model)
    {
        <option value="@item.Id">@item.Title</option>
    }
}
