@{
    ViewBag.Title = "Forgot Password Confirmation";
}	
<style>
    #registerLink {
        display: none;
    }

    .card {
        border: 1px solid #dedede;
        background-color: #fff;
        border-radius: 10px;
        margin-top: 90px;
        margin-bottom: 50px;
    }

        .card .body {
            padding: 90px 30px;
        }

        .card .card-img {
            max-width: 140px;
        }

        .card .title {
            margin-top: 0;
            color: #777;
            text-transform: uppercase;
            font-weight: 700;
            font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        }

        .card .description {
            color: #777;
            margin-top: 20px;
        }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-s-offset-2 col-xs-10 col-xs-offset-1">
            <div class="card clearfix">
                <div class="body clearfix">
                    <div class="col-md-4 text-center">
                        <img src="~/images/password_reset_primary.svg" class="card-img" alt="Confirmation Email" />
                    </div>
                    <div class="col-md-8">
                        <h2 class="title">@ViewBag.Title</h2>
                        <p class="description">Please check your email to reset your password.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>