################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Build output
**/bin/
**/obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / VS Code
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and local db files
*.log
*.db
appsettings.Development.json


# Dotnet test/build caches
TestResults/
.nupkg/
