@model IEnumerable<Devdiscourse.Models.ViewModel.VideoViewModel>
@{
    string domainUrl = "https://www.devdiscourse.com";
}@foreach (var item in Model)
{
    var newsImage = item.FileThumbUrl.IndexOf("devdiscourse.blob.core.windows.net") != -1 ? "/remote.axd?" + item.FileThumbUrl : item.FileThumbUrl;
    <a href="@Url.RouteUrl("NewsVideo", new{id=item.GenerateSecondSlug()})" class="text-decoration">
        <div class="m-b-30 col-md-12">
            <div class="row">
                <div class="col-md-5 col-sm-4">
                    <div class="bg-gray cover-img lazy lazyload" data-src="@domainUrl@newsImage?width=295&height=160&mode=crop&format=jpeg">
                        <div class="cover-img-overlay"><div class="play-icon"> <span class="fa fa-play"></span></div></div>
                    </div>
                </div>
                <div class="col-md-7 col-sm-8 p-l-0">
                 
                    <div class="text-uppercase country-sub">@item.Duration</div>
                    <h3 class="title-sub">@item.Title</h3>
                    <h5 class="no-margin font-oswald fg-black">@item.CreatedOn.ToString("dd MMMM yyyy")</h5>
                </div>
            </div>
        </div>
    </a>
  
}