@model Devdiscourse.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}
<div class="container">
    <h3 class="text-success">@ViewBag.StatusMessage</h3>
    <div class="card m-t-20">
        <h3 class="no-margin text-muted">Manage Account</h3>
    </div>
    <div class="card m-t-10">
        <h4>Change your account settings</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
        </dl>
    </div>
</div>