@model IEnumerable<Devdiscourse.Models.ViewModel.LatestNewsView>

@{
    string domainUrl = "https://www.devdiscourse.com";
    Layout = null;
}


@if (@Model.Count() > 0)

{
    <div class="also-container">
        <div>
            <h2 class="ar-title">ALSO READ</h2> <ul class="ar-ul">
                @foreach (var item in Model)
                {
                    string baseurl = Url.Content("~/");
                    string controller = "article";
                    string action = item.Label ?? "agency-wire";
                    long id = item.NewId;

                    <li class="also-title">
                        <h3 class="f-18 no-margin font-normal l-h">


                            <a href="@baseurl@controller/@action/@id" class="text-decoration">
                              
                                @item.Title


                            </a>

                        </h3>
                    </li>
                }
            </ul>
        </div>
    </div>
}