@model IEnumerable<Devdiscourse.Models.ViewModel.NewsViewModel>
@foreach (var item in Model.Take(4))
{
    var newsImage = ""; if (!string.IsNullOrEmpty(item.ImageUrl) && item.ImageUrl != "/images/defaultImage.jpg" && item.ImageUrl != "/images/newstheme.jpg" && item.ImageUrl != "/images/sector/all_sectors.jpg")
    {
        newsImage = $"/Experiment/Img?imageUrl={item.ImageUrl}";
    }
    <div class="item">
        <a href="@Url.RouteUrl("ArticleDetailswithprefix",new{prefix=item.Label??"agency-wire" ,id=item.GenerateSecondSlug()})" class="infocus-item">
            <div class="bg-highlight lazy" data-src="@newsImage&width=360&height=240&format=jpg&mode=crop" style="background-size:cover;padding-bottom:63%;position:relative">
                <div style="background-color:rgba(0,0,0,0.3);width:100%;height:100%;position:absolute;">
                    <div style="position:absolute;bottom:0;padding:10px">
                        <small class="font-sans-serif text-uppercase ls-1" style="margin-bottom:40px;background-color:#333;color:#fff;display:inline;padding:2px 6px;">
                            @if (!string.IsNullOrEmpty(item.Country))
                            {
                                var countryArr = item.Country.Split(','); foreach (var t in countryArr.Take(1))
                                {
                                    @t
                                }
                            }
                            else
                            {
                                <text>Global</text>
                            }
                        </small> <h3 class="trend-title fg-white font-oswald" title="@item.Title" style="color:#fff;margin:5px 0 0 0;">@item.Title</h3>
                    </div>
                </div>
            </div>
        </a>
    </div>
}