._bsa_hide ._bsa_flexbar {
  display: none
}

._bsa_show ._bsa_flexbar {
  display: block
}

#_flexbar_ {
  display: block
}

#_flexbar_._bsa_hide {
  margin-bottom: 0
}

._bsa_flexbar {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-Serif !important;
  width: 100%;
  z-index: 999999;
  color: #fff;
  position: relative;
  height: 118px;
  background: #cf215b;
  -webkit-animation: fadein 2s;
  -moz-animation: fadein 2s;
  -ms-animation: fadein 2s;
  -o-animation: fadein 2s;
  animation: fadein 2s
}

._bsa_flexbar:hover {
  background: #cf215b
}

._bsa_flexbar > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  text-decoration: none
}

._bsa_flexbar .flexbar-left {
  display: flex;
  align-items: center;
  justify-content: flex-start
}

._bsa_flexbar .flexbar-close {
  position: absolute;
  top: 50%;
  right: 30px;
  margin: -20px 0 0 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.5);
  background: rgba(0, 0, 0, 0.1);
  display: block;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
  text-decoration: none
}

._bsa_flexbar .flexbar-heading {
  font-size: 10px;
  letter-spacing: 3px;
  color: #ffffff;
  width: 100%;
  padding-bottom: 4px;
  line-height: 180%;
  float: left;
  text-transform: uppercase;
  font-weight: 500
}

._bsa_flexbar .flexbar-desc {
  font-size: 14px;
  max-width: 768px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 100%;
  line-height: 160%;
  float: left;
  font-weight: 300
}

._bsa_flexbar .flexbar-logo img {
  float: left;
  max-width: 130px;
  margin: 10px 30px 10px 0
}

._bsa_flexbar .flexbar-cta {
  text-align: center;
  float: right;
  color: #4d4d4d;
  background: #f9f9f9;
  text-decoration: none;
  border-radius: 3px;
  font-weight: 300;
  margin-right: 70px;
  line-height: 100%;
  padding: 15px 20px;
  border: none;
  white-space: nowrap
}

._bsa_flexbar .flexbar-close:hover {
  color: rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, 0.3);
  cursor: pointer
}

@media all and (max-width: 1024px) {
  ._bsa_flexbar > a {
    padding: 25px 100px 25px 25px
  }

  ._bsa_flexbar .flexbar-logo {
    max-width: 48px;
    margin: 10px 20px 10px 0
  }
}

@media all and (max-width: 768px) {
  ._bsa_flexbar .flexbar-desc {
    font-size: 13px
  }

  ._bsa_flexbar > a {
    padding: 20px 80px 20px 20px
  }

  ._bsa_flexbar .flexbar-close {
    right: 20px;
    margin: -15px 0 0 0;
    width: 30px;
    height: 30px;
    font-size: 18px;
    line-height: 30px
  }
}

@media all and (max-width: 1024px) {
  ._bsa_flexbar .flexbar-cta {
    display: none
  }

  ._bsa_flexbar > a {
    padding: 20px
  }

  ._bsa_flexbar > a {
    padding-right: 80px
  }

  ._bsa_flexbar .flexbar-close {
    right: 20px
  }

  ._bsa_flexbar .flexbar-logo {
    max-width: 130px;
    margin: 10px 20px 10px 0
  }
}

@media all and (max-width: 568px) {
  ._bsa_flexbar .flexbar-logo {
    display: none
  }

  ._bsa_flexbar .flexbar-cta {
    display: none
  }

  ._bsa_flexbar .flexbar-heading {
    font-size: 8px
  }

  ._bsa_flexbar .flexbar-desc {
    font-size: 12px
  }

  ._bsa_flexbar > a {
    padding: 15px
  }
}

@keyframes "fadein" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes "fadein" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes "fadein" {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}