.survey-title-research {
	background-color: #ff7b00;
	padding: 15px;
	color: #fff;
	font-size: 20px;
	border-bottom: 2px solid #e3e3e3;
}
.survey-cont {
	padding: 15px;
	border-width: 2px 1px 1px 1px;
	border-style: solid;
	border-color: #e3e3e3;
	border-top-color: #ff7b00
}.survey-main {
	background-color:#f4f4f4;
	display: none;
}.survey-title {
	 margin-top:0;
	 margin-bottom:15px;
	font-weight: 400;
	letter-spacing: .06em;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
.option-item input[type="radio"] {
	margin:0;
	opacity:0;
	width:0;
}.option-label {
	 margin:5px 0;
	color: #ff6a00;
	font-weight: 400;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}
label.option-label:before {
	width: 20px;
	height: 20px;
	border: 1px solid #ff6a00;
	border-radius: 50%;
	content: "";
	display: inline-block;
	margin-right: 10px;
	float: left;
}
input:checked + label.option-label:before {
	background-color: #ff6a00;
	content: " \2713";
	text-align: center;
	color: #fff;
	font-weight: 700;
}
.res-label{
	font-weight:500;
	margin-top:5px;
}
.response_attachment{
	margin:5px 0;
}
